{% trans_default_domain 'FOSUserBundle' %}

<div class="account-login">
  <div class="row">
    <div class="col-sm-6">
      <img src="{{ asset('bundles/app/images/pinewood.jpg') }}" class="img-responsive" />
    </div>
    <div class="col-sm-6">

      <h1>Mot de passe oublié</h1>

      <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        {% if invalid_username is defined %}
          <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <div class="form-group">
          <label for="username">{{ 'resetting.request.username'|trans }}</label>
          <input type="text" id="username" name="username" required="required" class="form-control" />
        </div>

        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
      </form>

    </div><!-- col -->
  </div><!-- .row -->
</div><!-- .account-login -->