<div class="comment row">

  <div class="col-md-12">

    {% if thread and comments %}

      {% for comment in comments %}

        <div class="comment-message" id="comment-{{ thread.id }}{{ comment.id }}">
          <div class="header clearfix">
            <b>{{ comment.user.firstname }}</b>, le {{ comment.createdAt|date('d/m/Y') }}
          </div>
          {{ comment.message|raw }}
        </div>

        {% if comment.getChildrenValidated().count() != 0 %}

          {% for reply in comment.getChildrenValidated() %}
            <div class="comment-message reply" id="comment-{{ thread.id }}{{ reply.id }}">
              <div class="header clearfix">
                <b>Le vendeur</b>, le {{ reply.createdAt|date('d/m/Y') }}
              </div>
              {{ reply.message|raw }}
            </div>
          {% endfor %}

        {% endif %}

        {% if app.user == product.user %}
        <div class="comment-message reply">
          <form name="comment" method="post">
            <textarea id="comment_message_{{ comment.id }}" name="message" required="required" placeholder="Rédiger une réponse" class="form-control"></textarea>

            <input type="hidden" name="comment_id" value="{{ comment.id }}" />

            <div class="row">
              <div class="col-md-2 col-md-offset-10">
                <button class="btn btn-primary btn-block btn-sm" type="submit">Répondre</button>
              </div>
            </div>
          </form>
        </div>
        {% endif %}

      {% endfor %}

    {% else %}
    <div class="text-center">
      Aucun commentaire.
    </div>

    {% endif %}

    {% if formNewComment is defined %}

      <hr />


      {{ form_start(formNewComment) }}

        {{ form_widget(formNewComment.message) }}

        <div class="row">
          <div class="col-md-2 col-md-offset-10">
            <button class="btn btn-primary btn-block btn-sm" type="submit">Envoyer</button>
          </div>
        </div>

        {{ form_rest(formNewComment) }}

      {{ form_end(formNewComment) }}
    {% elseif app.user is null %}

      <hr />

      <p class="text-center">
        Pour laisser un commentaire au vendeur, vous devez être connecté.<br />
        <a href="{{ path('fos_user_security_login', { "redirect_to": path(app.request.attributes.get('_route'),
          app.request.attributes.get('_route_params'))} ) }}" title="Se connecter">Se connecter</a>
        ou
        <a href="{{ path('fos_user_registration_register') }}" title="S'enregistrer">S'enregistrer</a>
      </p>

    {% endif %}
  </div>
</div>