{% extends 'Admin2Bundle::layout.html.twig' %}

{% block page_title %}Reférentiels{% endblock %}
{% block page_subtitle %}Gérer une valeur{% endblock %}


{% block page_content %}

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">


        {{ form_start(form) }}

            {{ form_rest(form) }}

            <button class="btn btn-success" type="submit">Enregistrer</button>

        {{ form_start(form) }}

    </div>
</div>
{% endblock %}

  {% block javascripts_inline %}
    <link rel="stylesheet" href="{{ asset('components/select2/dist/css/select2.min.css') }}">
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
    <script src="{{ asset('components/select2/dist/js/i18n/fr.js') }}"></script>
    <script>
      $(document).ready(function() {
        $("#referential_value_referentials").select2();
      });
    </script>
  {% endblock %}