{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{{ thread.subject }}</h2>

<p>
    <a target="_blank" href="{{ path('product_details', { id: thread.product.id, slug: thread.product.slug }) }}">Voir l'annonce: {{ thread.product.name }}</a>
</p>

{% for message in thread.messages %}
    <div class="row">
        <div class="messenger_thread_message {% if message.sender == app.user %}col-md-9 col-md-offset-3 user{% else %}col-md-9{% endif %}">
            <div class="messenger_thread_message_info">
                {% if app.user == message.sender %}
                    Vous,
                {% elseif message.sender == thread.product.user %}
                    Le vendeur,
                {% else %}
                    L'acheteur,
                {% endif %}
                le {{ message.createdAt|date('d/m/Y H:i') }}
            </div>

            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                {{ message.body|nl2br }}
            </div>
        </div>
    </div>
{% endfor %}


<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">

    <div class="form-group">
        <label class="required">Message</label>
        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.body) }}
    </div>

    {{ form_rest(form) }}
    <p><input class="btn btn-primary" value="Répondre" type="submit"></p>
</form>

{% endblock %}
