{% extends 'AppBundle::base.html.twig' %}

{% block title %}Mon panier{% endblock %}
{% block description %}Mon panier sur {{ siteName }}{% endblock %}
{% block javascript_include %}{{ jsinit(['cart']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <h1 class="title-h1">Mon Panier</h1>

      {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-warning">{{ flashMessage }}</div>
      {% endfor %}


      {% if products is empty %}
        <p>Votre panier est vide.</p>
        {% else %}

        <form action="{{ path(app.request.attributes.get('_route')) }}" method="post">
          <table class="table">
            <thead>
              <tr>
                <th>Produit</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Ville</th>
                <th>Mode de livraison</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td>
                  <a target="_blank" href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}">
                    {% if product.getImages()[0] is defined %}<img src="{{ loadpic(product.getImages()[0], 88, 88) }}" alt="product.name" }} />{% endif %}
                  </a>
                </td>
                <td><a target="_blank" href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}">{{ product.name }}</a></td>
                <td>
                  {{ product.price|currency_convert_format('EUR', false, true, product.getCurrency.getCode) }}
                  {% if product.getCurrency.getCode != 'EUR' %}
                  ({{ product.price|currency_convert_format(product.getCurrency.getCode, false, true, product.getCurrency.getCode) }})
                  {% endif %}
                </td>
                <td>{{ product.getAddress.getCity.getName }} ({{ product.getAddress.getCity.getZipcode }})</td>
                <td>
                  <select name="{{ product.getId() }}" class="cartDeliverySelection">
                    {% for delivery in product.deliveries %}
                      <option data-fee="{{ delivery.fee }}" value="{{ delivery.deliveryMode.code }}">{{ delivery.deliveryMode.name }} (+{{ delivery.fee|currency_format('EUR') }})</option>
                    {% endfor %}
                  </select>
                </td>
                <td><button type="button" class="btn btn-danger" data-id="{{ product.id }}">Supprimer</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="text-right">
            <div>
              Total produit: <span class="totalProduct" data-total="{{ productsTotalPrice }}">{{ productsTotalPrice|currency_format('EUR') }}</span><br/>
              Estimation des frais de livraison: <span class="totalDelivery"></span> <br/>
              TOTAL: <span class="totalOrder">{{ (productsTotalPrice+0)|currency_format('EUR') }}</span>
            </div>

            <input class="btn btn-primary" type="submit" value="Etape suivante">
          </div>
        </form>
      {% endif %}

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
