<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %} | {{ siteName }}, le premium à votre portée</title>
    <meta name="description" content="{% block description %}Des produits premium à votre portée sur {{ siteName }}{% endblock %}">

    <!-- Bootstrap -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/master.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body {% block bodyclass %}{% endblock %}>


    <!-- // HEADER // -->
    <header class="header-wrapper">
      <div class="header-container">
        <div class="main-header">
          <div class="container">
            <div class="header-content mobile-wrapper visible-xs">
              <div id="mobile-sticky" class="mobile-content-inner">
                <div class="header-top-left">
                  <div class="top-left-inner">
                    <div class="header-search">
                      <div class="search-container">
                        <div class="overwrite-setting skip-link" onclick="Common.mobileSkipLink(this);" data-target-element="#navbar-search">
                          <i class="fa fa-search"></i>
                        </div>
                        <div id="navbar-search" class="switcher-content skip-content">
                          <form id="search_mb_mini_form" action="{{ path('search') }}" method="get">
                            <div class="input-group form-search">
                              <span class="input-group-btn category-filter">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                  <span class="category-label">
                                    Tout </span>&nbsp;<i class="fa fa-angle-down"></i>
                                </button>
                                {{ render(controller('AppBundle:Default:searchcategories')) }}
                              </span>
                              <input type="hidden" name="cat" class="search-category" value="" />
                              <input id="mb_search"
                                     type="search"
                                     name="q"
                                     value="{{ app.request.query.get('q') }}"
                                     class="input-text required-entry"
                                     maxlength="128"
                                     placeholder="Rechercher sur le site..."
                                     />
                              <button type="submit" title="Search" class="search-button"><span><span><i class="fa fa-search"></i></span></span></button>
                            </div>
                            <div id="search_mb_autocomplete" class="search-autocomplete" style="display: none"></div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <!-- navigation BOF -->
                    <div class="navbar visible-xs">
                      <div class="navbar">
                        <div class="navbar-header skip-link" onclick="Common.mobileSkipLink(this);" data-target-element="#navbar-toggle">
                          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <nav id="navbar-toggle" class="bs-navbar-collapse skip-content" role="navigation">
                          <ul class="nav-accordion nav-mobile-accordion">

                            <li class="level0 home level-top">
                              <a href="{{ path('homepage') }}"
                                 class="level-top"><span>Accueil</span></a>
                            </li>
                            {{ render(controller('AppBundle:Default:mobilecategories')) }}
                          </ul>
                        </nav>
                      </div>
                    </div>
                    <!-- navigation EOF -->                            </div>
                </div>
                <div class="header-logo">
                  <a href="{{ path('homepage') }}" title="Magento Commerce" class="logo">
                    <img class="x1" src="http://elara.icotheme.com/media/wysiwyg/icotheme/elara/logo/logo_4.png" alt="Magento Commerce" />
                  </a>
                </div>
                <div class="header-top-right">
                  <div class="top-right-inner">
                    <div class="header-type">
                      <div class="header-maincart">
                        <div class="cart-container">
                          <a href="{{ path('cart') }}" title="Mon Panier" class="icon-cart-header skip-link">
                            <span class="total"><strong class="fa fa-shopping-bag" aria-hidden="true"></strong><span class="hidden-mobile">Mon Panier</span> <span class="numb">{{ app.session.get('cart')|length }}</span></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="header-setting">
                      <div class="setting-switcher switcher-wrap">
                        <div class="overwrite-setting skip-link" onclick="Common.mobileSkipLink(this);" data-target-element="#navbar-setting">
                          <span class="fa fa-cog"></span>
                        </div>
                        <div id="navbar-setting" class="switcher-content skip-content">
                          <div class="main-switcher">
                            <div class="main-setting">
                              <div class="main-account">
                                <ul class="links">
                                  {% if app.user %}
                                    <li class="first" ><a class="my-account" href="{{ path('fos_user_profile_edit') }}" title="Mes Paramètres">Mes Paramètres</a></li>
                                    <li><a href="{{ path('user_account_wishlist') }}" title="Ma Wishlist" class="link-wishlist">Ma Wishlist</a></li>
                                    <li><a class="checkout" href="{{ path('cart') }}" title="Mon Panier" class="top-link-checkout">Mon Panier</a></li>
                                    <li class=" last" ><a class="log-in" href="{{ path('fos_user_security_logout') }}" title="Déconnexion">Déconnexion</a></li>
                                  {% else %}
                                    <li class="first" ><a href="{{ path('fos_user_security_login') }}" title="Connexion" >Connexion</a></li>
                                    <li class="last" ><a href="{{ path('fos_user_registration_register') }}" title="Connexion" >Inscription</a></li>
                                  {% endif %}
                                </ul>
                              </div>
                            </div>
                            <div class="language-currency ">
                              <div class="language-switcher">
                                <div class="title-selector"><span>Langues</span></div>
                                <ul class="select-language clearfix">
                                  <li class="current-language">
                                    <span>
                                      <img alt="francais" src="http://elara.icotheme.com/media/wysiwyg/icotheme/elara/flags/flag-french.jpg" />
                                    </span>
                                  </li>
                                  <li><a href="#"> <img alt="anglais" src="http://elara.icotheme.com/media/wysiwyg/icotheme/elara/flags/flag-english.jpg" /></a></li>
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="header-content hidden-xs">
              <div class="row">
                <div class="item col-lg-2 col-md-2 col-sm-3 col-xs-12">
                  <a href="{{ path('homepage') }}" title="Magento Commerce"
                     class="logo">
                    <img src="http://elara.icotheme.com/media/wysiwyg/icotheme/elara/logo/logo_4.png"
                         alt="Magento Commerce"/>
                  </a>
                </div>
                <div class="item col-lg-10 col-md-10 col-sm-9 col-xs-12">
                  <div class="header-right-wrapper">
                    <div class="header-top-container">
                      <div class="language-wrapper"><div class="language-currency">
                          <div class="language-switcher switcher-wrap">
{#
                            <div class="overwrite-language">
                              <span style="background-image:url('http://elara.icotheme.com/media/wysiwyg/icotheme/elara/flags/flag-french.jpg');background-repeat: no-repeat; background-position: 15px center;">Français</span>
                            </div>
                            <ul class="select-language">
                              <li><a style="background-image:url(http://elara.icotheme.com/media/wysiwyg/icotheme/elara/flags/flag-french.jpg); background-repeat: no-repeat; background-position: 0px center;" href="#"> Français</a></li>
                              <li><a style="background-image:url(http://elara.icotheme.com/media/wysiwyg/icotheme/elara/flags/flag-english.jpg); background-repeat: no-repeat; background-position: 0px center;" href="#"> English</a></li>
                            </ul>
#}
                          </div>
                        </div>
                      </div>
                      <div class="store-wrapper"></div>
                      <div class="header-setting">
                        <div class="setting-switcher switcher-wrap">
                          <div class="overwrite-setting">
                            <span>Mon Compte</span>
                          </div>
                          <div class="switcher-content">
                            <div class="main-switcher">
                              <div class="main-setting">
                                <div class="main-account">
                                  <ul class="links">
                                    {% if app.user %}
                                      <li class="first" ><a class="my-account" href="{{ path('fos_user_profile_edit') }}" title="Mes Paramètres">Mes Paramètres</a></li>
                                      <li><a href="{{ path('user_account_wishlist') }}" title="Ma Wishlist" class="link-wishlist">Ma Wishlist</a></li>
                                      <li><a class="checkout" href="{{ path('cart') }}" title="Mon Panier" class="top-link-checkout">Mon Panier</a></li>
                                      <li class=" last" ><a class="log-in" href="{{ path('fos_user_security_logout') }}" title="Déconnexion">Déconnexion</a></li>
                                    {% else %}
                                      <li class="first" ><a href="{{ path('fos_user_security_login') }}" title="Connexion" >Connexion</a></li>
                                      <li class="last" ><a href="{{ path('fos_user_registration_register') }}" title="Connexion" >Inscription</a></li>
                                    {% endif %}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="header-bottom-container">
                      <div class="row">
                        <div class="header-search">
                          <div class="search-container">
                            <div class="main-form-search">
                              <form id="search_mini_form" action="{{ path('search') }}" method="get">
                                <div class="input-group form-search">
                                  <span class="input-group-btn category-filter">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                      <span class="category-label">
                                        Tout </span>&nbsp;<i class="fa fa-angle-down"></i>
                                    </button>
                                    {{ render(controller('AppBundle:Default:searchcategories')) }}
                                  </span>
                                  <input type="hidden" name="cat" class="search-category" value="" />
                                  <input id="search"
                                         type="search"
                                         name="q"
                                         value="{{ app.request.query.get('q') }}"
                                         class="input-text required-entry"
                                         maxlength="128"
                                         placeholder="Rechercher sur le site..." />
                                  <button type="submit" title="Search" class="button"><span><span><i class="fa fa-search"></i></span></span></button>
                                </div>
                                <div id="search_autocomplete" class="search-autocomplete" style="display: none"></div>
                              </form>





                            </div>
                          </div>
                        </div>

                        <div class="header-account-action" id="notificationLi">
                          <div class="account-container">
                            {{ render(controller('UserBundle:Notification:notificationBar')) }}
                          </div>
                        </div>


                        <div class="header-account-action">
                          <div class="account-container">
                            <a href="{{ path('fos_message_inbox') }}" title="Ma messagerie" class="icon-header skip-link">
                              <span class="total"><strong class="fa fa fa-envelope" aria-hidden="true"></strong>{% if app.user and fos_message_nb_unread() > 0 %}<span class="count-numb">{{ fos_message_nb_unread() }}</span>{% endif %}</span>
                            </a>
                          </div>
                        </div>


                        <div class="header-maincart">
                          <div class="cart-container">
                            <a href="{{ path('cart') }}" title="Mon Panier" class="icon-cart-header skip-link">
                              <span class="total"><strong class="fa fa-shopping-bag" aria-hidden="true"></strong><span class="hidden-mobile">Mon Panier</span> <span class="numb main-numb">{{ app.session.get('cart')|length }}</span></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="top-nav-wrapper" class="top-nav-wrapper hidden-xs">
            <div class="container">
              <div class="navigation-wrapper hidden-xs">
                <div class="main-navigation">
                  <ul class="top-navigation">
                    <li class="level0 home level-top">
                      <a href="{{ path('homepage') }}"
                         class="level-top"><span>Accueil</span></a>
                    </li>
                    {{ render(controller('AppBundle:Default:categories')) }}
                    <li class="level0 nav-end level-top">
                      <a href="totheblog" class="level-top">Blog</a>
                      <a href="{{ path('sell_category') }}" class="level-top">Vendez</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div><!-- #top-nav-wrapper -->
        </div>
      </div>
    </header>


{#
    <nav class="main-navbar navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/images/logo.png') }}" alt="logo" /></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <form class="navbar-form navbar-left" method="get" action="{{ path('search') }}">
            <input type="text" class="form-control" name="q" placeholder="Rechercher..." value="{{ app.request.query.get('q') }}">
          </form>
          {{ render(controller('AppBundle:Default:categories')) }}

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Déposer une annonce</a></li>
            {% if app.user %}
              <li {% if app.request.get('_route') == 'fos_user_profile_show' %}class="active"{% endif %}><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Mon compte</a></li>
            {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">S'identifier</a></li>
              <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% endif %}
            <li><a href="#"><i class="fa fa-shopping-cart"></i> Panier</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
#}

    {% block wholebody %}
    <div class="main-container">
      {% block body %}{% endblock %}
    </div>
    {% endblock %}

    <footer class="footer-wrapper">
      <div class="footer-top">
        <div class="container">
          <div class="footer-container">
            <div class="row show-grid"></div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="footer-container">
            <div class="row show-grid">
              <div class="block-container ">
                <div>
                  <div>
                    <div class="block-footer-bottom">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="about">
                          <div class="footer-block-title">
                            <h2><span>About</span><span class="mobile-button visible-xs active">accordion-footer</span></h2>
                          </div>
                          <div class="custom-footer-content">
                            <div class="about-text"><p>Qras at justto varius tempus nibh hen drerito gravida dui.A suscipit sapien pretium pullami nevelit fringilla id risus vel.</p></div>
                            <div class="social">
                              <div class="footer-block-title">
                                <h2><span>FOLLOW</span></h2>
                              </div>
                              <ul class="social-icons small light">
                                <li class="facebook"><a target="_blank" href="http://www.facebook.com/" class="fa fa-facebook"><span>Facebook</span></a></li>
                                <li class="twitter"><a target="_blank" href="http://www.twitter.com/" class="fa fa-twitter"><span>Twitter</span></a></li>
                                <li class="behance"><a target="_blank" href="https://www.behance.net/" class="fa fa-behance"><span>Behance</span></a></li>
                                <li class="gplus"><a target="_blank" href="https://plus.google.com/" class="fa fa-google-plus"><span>Google plus</span></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="product_link">
                          <div class="footer-block-title">
                            <h2><span>La Boutique</span><span class="mobile-button visible-xs active">accordion-footer</span></h2>
                          </div>
                          <div class="custom-footer-content">
                            <ul class="links">
                              <li><a href="#">Nouveautés</a></li>
                              <li><a href="#">Femmes</a></li>
                              <li><a href="#">Hommes</a></li>
                              <li><a href="#">Chaussures</a></li>
                              <li><a href="#">Accessoires</a></li>
                              <li><a href="#">Grandes Marques</a></li>
                              <li><a href="#">Promos</a></li>
                              <li><a href="#">Lookbook</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="product_link">
                          <div class="footer-block-title">
                            <h2><span>Information</span><span class="mobile-button visible-xs active">accordion-footer</span></h2>
                          </div>
                          <div class="custom-footer-content">
                            <ul class="links">
                              <li><a href="#">About Us </a></li>
                              <li><a href="#">Customer Service</a></li>
                              <li><a href="#">New Collection</a></li>
                              <li><a href="#">Best Sellers</a></li>
                              <li><a href="#">Manufacturers</a></li>
                              <li><a href="#">Privacy policy</a></li>
                              <li><a href="#">Terms &amp; condition</a></li>
                              <li><a href="#">Blog</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="product_link">
                          <div class="footer-block-title">
                            <h2><span>Customer Service</span><span class="mobile-button visible-xs active">accordion-footer</span></h2>
                          </div>
                          <div class="custom-footer-content">
                            <ul class="links">
                              <li><a href="#">Search Terms</a></li>
                              <li><a href="#">Advanced Search</a></li>
                              <li><a href="#">Orders and Returns</a></li>
                              <li><a href="{{ path('contact') }}">Contact Us</a></li>
                              <li><a href="#">RSS</a></li>
                              <li><a href="#">Help &amp; FAQs</a></li>
                              <li><a href="#">Consultant</a></li>
                              <li><a href="#">Store Locations</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="product_link">
                          <div class="footer-block-title">
                            <h2><span>Contact Us</span><span class="mobile-button visible-xs active">accordion-footer</span></h2>
                          </div>
                          <div class="custom-footer-content">
                            <span class="item-info"><i class="fa fa-university"></i><span class="address">1234 - Bandit Tringi lAliquam<br>Vitae. New York</span> </span>
                            <span class="item-info"><i class="fa fa-envelope-o"></i><span class="email">icothemes@gmail.com</span> </span>
                            <span class="item-info"><i class="fa fa-phone"></i><span class="phone">(800) 0123 456 789</span> </span>
                          </div>
                        </div>
                      </div>
                  </div>            </div>
                </div>
              </div>
            </div>
            <div class="hidden-phone" id="back-top">
              <a href="#top">
                <div class="sticker-wrapper">
                  <div title="Back to Top" class="sticker">
                    <i class="fa fa-angle-up"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"><address>Copyright &copy; 2015 <a href="http://icotheme.com">Magento Themes</a> by IcoTheme. All rights reserved.</address></div>
          </div>
        </div>
      </div>
    </footer>

    {% block javascripts %}
      <script src="{{ asset('js/master.js') }}"></script>
    {% endblock %}

    {% block javascript_include %}{{ jsinit() }}{% endblock javascript_include %}
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% if app.environment == 'dev' %}
       <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
  </body>
</html>
