<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Facture N°{{ order.id }} - {{ siteName }}</title>

  <style>
    .invoice-box {
      max-width: 800px;
      margin: auto;
      padding: 30px;
      border: 1px solid #eee;
      box-shadow: 0 0 10px rgba(0, 0, 0, .15);
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
      margin-top: 110px;
    }

    .invoice-box table {
      width: 100%;
      line-height: inherit;
      text-align: left;
    }

    .invoice-box table td {
      padding: 5px;
      vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
      text-align: right;
    }

    .invoice-box table tr.top table td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
      font-size: 45px;
      line-height: 45px;
      color: #333;
    }

    .invoice-box table tr.information table td {
      padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
      background: #eee;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
    }

    .invoice-box table tr.details td {
      padding-bottom: 20px;
    }

    .invoice-box table tr.item td {
      border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
      border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
      border-top: 2px solid #eee;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
      }

      .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
      }
    }

    @media print
    {
      .invoice-box{
        box-shadow: none;
        width: auto;

        margin: auto;
        padding: auto;
        border: none;
        margin-top: 0px;
      }
    }
  </style>
</head>

<body>
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">
              <img src="{{ optipng('bundles/app/images/logo_unik.png', { 'output' : 'images/logo_unik.png'}) }}" style="width:100%; max-width:300px;">
            </td>

            <td>
              Facture n°{{ order.id }}<br>
              Le {{ 'now'|date('d/m/Y H:i') }}<br>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="2" style="text-align: center;;">
        Date de commande: {{ order.createdAt|date('d/m/Y H:i') }}
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Z.I. Saint Cosmes<br>
              rue Jules Verne<br>
              37520 La Riche
            </td>

            <td>
              {{ order.product.address.name }}<br />
              {{ order.product.address.street }}<br />
              {% if order.product.address.additional is not empty  %}{{ order.product.address.additional }}<br />{% endif %}
              {{ order.product.address.city.zipcode }}
              {{ order.product.address.city.name }}
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Objet vendu sur Unik Place
      </td>

      <td>
        Prix TTC
      </td>
    </tr>

    <tr class="item">
      <td>
        {{ order.product.name }}
      </td>

      <td>
        {{ order.productAmount|number_format(2) }} €
      </td>
    </tr>

    <tr>
      <td colspan="2"><br /><br/></td>
    </tr>


    <tr class="heading">
      <td>
        Commande
      </td>

      <td>
        Prix
      </td>
    </tr>


    <tr class="item">
      <td>
        Commission de la commande {{ order.product.name }}
      </td>

      <td>
        {{ ((fees + (order.productAmount * feesRate)) * (1 - tvaRate))|number_format(2) }} €
      </td>
    </tr>


    <tr class="total">
      <td style="text-align: right">
        SOUS TOTAL HT
      </td>

      <td>
        {{ ((fees + (order.productAmount * feesRate)) * (1 - tvaRate))|number_format(2) }} €
      </td>
    </tr>

    <tr class="total">
      <td style="text-align: right">
        TVA
      </td>

      <td>
        {{ ((fees + (order.productAmount * feesRate)) * (tvaRate))|number_format(2) }} €
      </td>
    </tr>

    <tr class="total">
      <td style="text-align: right">
        Total TTC
      </td>

      <td>
        {{ ((fees + (order.productAmount * feesRate)))|number_format(2) }} €
      </td>
    </tr>
  </table>
</div>
</body>
</html>