{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'cart.title'|trans({}, 'seo') }}{% endblock %}
{% block description %}{{ 'cart.description'|trans({ '%siteName%': siteName }, 'seo') }}{% endblock %}

{% block javascript_include %}{{ jsinit(['addAddress']) }}{% endblock javascript_include %}

{%- block choice_widget -%}
  {% spaceless %}
    <label  for="{{ id }}">qsqdqdq<input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}</label>
  {% endspaceless %}
{%- endblock choice_widget -%}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <div class="page-steps row">
        <div class="col-sm-3">
          <div class="page-step">Mon Panier</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step active">Mon adresse</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step">Mode de livraison</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step">Paiement</div>
        </div>
      </div>

      {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">{{ flashMessage }}</div>
      {% endfor %}


      {% if addresses is empty %}
      <p>Vous n'avez actuellement aucune adresse associée à votre compte. Vous pouvez en ajouter une en cliquant sur le bouton suivant :</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAddressModal">
        Ajouter une adresse à mon compte
      </button>
      {% else %}
      </p>


      {{ form_start(selectAddressForm) }}

        <div class="row">
          <div class="col-md-6">
            <h4>Adresse de livraison</h4>
            {{ form_widget(selectAddressForm.delivery_address) }}

            <button type="button" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#addAddressModal">
              Ajouter une nouvelle adresse
            </button>
          </div>
          <div class="col-md-6">
            <h4>Adresse de facturation</h4>

            {{ form_widget(selectAddressForm.billing_address) }}


            <button type="button" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#addAddressModal">
              Ajouter une nouvelle adresse
            </button>
          </div>
        </div>

        <div class="pull-right" style="margin-top: 25px;">
          {{ form_widget(selectAddressForm.save, { 'attr': { 'class': 'btn btn-primary'}}) }}
        </div>
      {{ form_end(selectAddressForm) }}

      {% endif %}

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->


<!-- Add address Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAddressModalTitle">Ajouter une adresse à mon compte</h4>
      </div>
      {{ form_start(addAddressForm) }}
      <div class="modal-body">
        {{ form_row(addAddressForm.name) }}
        {{ form_row(addAddressForm.street) }}
        {{ form_row(addAddressForm.additional) }}
        <div class="form-group">
          <label class="control-label required" for="address_city">Ville</label>
          <select id="address_city" name="address[city]" required="required" class="autocomplete-city form-control">
            <option value="" selected="selected">Sélectionnez un code postal</option>
          </select>
        </div>
        {{ form_row(addAddressForm.country) }}
      </div>
      <div class="modal-footer">
        {{ form_widget(addAddressForm.save, {'attr': {'class': 'btn btn-primary btn-sm'}}) }}
      </div>
      {{ form_end(addAddressForm) }}
    </div>
  </div>
</div>

{% endblock %}
