{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ 'cart.title'|trans({}, 'seo') }}{% endblock %}
{% block description %}{{ 'cart.description'|trans({ '%siteName%': siteName }, 'seo') }}{% endblock %}

{% block javascript_include %}{{ jsinit(['addAddress']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <div class="page-steps row">
        <div class="col-sm-4">
          <div class="page-step">Mon Panier</div>
        </div>
        <div class="col-sm-4">
          <div class="page-step active">Livraison et Facturation</div>
        </div>
        <div class="col-sm-4">
          <div class="page-step">Paiement</div>
        </div>
      </div>

      {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="alert alert-success">{{ flashMessage }}</div>
      {% endfor %}

      {% if by_hand_only %}
      <p>Une adresse de facturation est nécessaire dans le cas d'une remise en main propre.</p>
      {% else %}
      <p>Merci de sélectionner une adresse de livraison parmis vos addresses enregistrées. Nous supportons actuellement uniquement la livraison en France métropolitaine.</p>
      {% endif %}

      {% if addresses is empty %}
      <p>Vous n'avez actuellement aucune adresse associée à votre compte. Vous pouvez en ajouter une en cliquant sur le bouton suivant :</p>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAddressModal">
        Ajouter une adresse à mon compte
      </button>
      {% else %}
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addAddressModal">
          Ajouter une autre adresse à mon compte
        </button>
      </p>

      {{ form_start(selectAddressForm) }}
      {% if by_hand_only %}
      {% do selectAddressForm.delivery_address.setRendered %}
      {% endif %}
      {{ form_widget(selectAddressForm) }}
      {{ form_end(selectAddressForm) }}

      {% endif %}

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->


<!-- Add address Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAddressModalTitle">Ajouter une adresse à mon compte</h4>
      </div>
      {{ form_start(addAddressForm) }}
      <div class="modal-body">
        {{ form_row(addAddressForm.name) }}
        {{ form_row(addAddressForm.street) }}
        {{ form_row(addAddressForm.additional) }}
        <div class="form-group">
          <label class="control-label required" for="address_city">Ville</label>
          <select id="address_city" name="address[city]" required="required" class="autocomplete-city form-control">
            <option value="" selected="selected">Sélectionnez un code postal</option>
          </select>
        </div>
        {{ form_row(addAddressForm.country) }}
      </div>
      <div class="modal-footer">
        {{ form_widget(addAddressForm.save, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
      </div>
      {{ form_end(addAddressForm) }}
    </div>
  </div>
</div>

{% endblock %}
