<dl>
  <dt>{{ label }}</dt>
  <dd>
    <ol>
      <li>
        <input type="text" size="4" value=""
               class="input-text attribute-search-filter-range-from"
               id="attribute-search-filter-from-{{ id }}" data-key="{{ id }}" placeholder="">
        &nbsp; à &nbsp;
        <input type="text" size="4" value=""
               class="input-text attribute-search-filter-range-to"
               id="attribute-search-filter-to-{{ id }}" data-key="{{ id }}" placeholder=""> &nbsp;
        <button type="submit" class="form-button btn btn-primary btn-sm search-range-submit">
          <span><span>OK</span></span></button>
      </li>
    </ol>
  </dd>
</dl>
