{% extends 'Admin2Bundle::layout.html.twig' %}

{% block page_title %}Utilisateurs{% endblock %}
{% block page_subtitle %}Liste des utilisateurs{% endblock %}


{% block page_content %}

  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">

      <form method="post">

        <div class="row">

          <div class="col-xs-5 col-md-offset-6">
            <div class="form-group">
              <input type="text" name="search" class="form-control" id="search"
                     placeholder="Recherche (Email, id, nom, prénom)"
                     value="{{ app.request.get('search') }}">
            </div>
          </div>
          <div class="col-xs-1">
            <input type="submit" value="OK" class="btn btn-success" />
          </div>
        </div>
      </form>

      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Nom d'utilisateur</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Activé</th>
          <th>Bloqué</th>
          <th>Actions</th>
        </tr>

        {% for user in users %}

          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{% if user.enabled %}<span class="badge bg-green">Oui</span>{% else %}<span class="badge bg-red">Non</span>{% endif %}</td>
            <td>{% if user.locked %}<span class="badge bg-red">Oui</span>{% else %}<span class="badge bg-green">Non</span>{% endif %}</td>
            <td>
              <a href="{{ path('ad2_user_show', {id: user.id}) }}" class="btn btn-info">
                <i class="fa fa-eye"></i>
              </a>
              <a href="{{ path('ad2_user_edit', {id: user.id}) }}" class="btn btn-primary">
                <i class="fa fa-pencil"></i>
              </a>
            </td>
          </tr>

        {% endfor %}

        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      {{ pagerfanta(users, 'twitter_bootstrap3_translated') }}
    </div>
  </div>

{% endblock %}