{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="account-login">
  <div class="row">
    <div class="col-sm-6 hidden-xs">
      <img src="{{ asset('bundles/app/images/pinewood.jpg') }}" class="img-responsive" />
    </div>
    <div class="col-sm-6">
      <h1>S'inscrire</h1>

      {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'id': 'signup-form'}}) }}
        <div class="form-group">
          <div class="radio-inline">
            {{ form_widget(form.pro.0) }}
          </div>
          <div class="radio-inline">
            {{ form_widget(form.pro.1) }}
          </div>
          {{ form_errors(form.pro) }}
        </div>
        <div class="form-group">
          <label class="required">{{ 'form.email'|trans }}</label>
          {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
          <label class="required">Prénom</label>
          {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.firstname) }}
        </div>
        <div class="form-group">
          <label class="required">Nom</label>
          {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.lastname) }}
        </div>
        <div class="form-group">
          <label class="required">Date de naissance</label>
          <div class="clearfix">
            {{ form_widget(form.birthday.day, {'attr': {'class': 'form-control birthday'}}) }}
            {{ form_widget(form.birthday.month, {'attr': {'class': 'form-control birthday'}}) }}
            {{ form_widget(form.birthday.year, {'attr': {'class': 'form-control birthday'}}) }}
          </div>
          {{ form_errors(form.birthday) }}
        </div>
        <div class="form-group">
          <label class="required">{{ 'form.password'|trans }}</label>
          {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group">
          <label class="required">{{ 'form.password_confirmation'|trans }}</label>
          {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.plainPassword.second) }}
        </div>
        <div class="form-group">
          <label class="required">Nationalité</label>
          {{ form_widget(form.nationality, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.nationality) }}
        </div>
        <div class="form-group">
          <label class="required">Pays de résidence</label>
          {{ form_widget(form.residential_country, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.residential_country) }}
        </div>

        <div class="pro-user-fields" style="display: none">
          <div class="form-group">
            <label class="required">SIRET de l'entreprise</label>
            {{ form_widget(form.company_code, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.company_code) }}
          </div>
          <div class="form-group">
            <label class="required">Nom de l'entreprise</label>
            {{ form_widget(form.company_name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.company_name) }}
          </div>
          <div class="form-group">
            <label class="required">Adresse de l'entreprise</label>
            {{ form_widget(form.company_address, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.company_address) }}
          </div>
          <div class="form-group">
            <label class="required">Code postal de l'entreprise</label>
            {{ form_widget(form.company_zipcode, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.company_zipcode) }}
          </div>
          <div class="form-group">
            <label class="required">Ville de l'entreprise</label>
            {{ form_widget(form.company_city, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.company_city) }}
          </div>
        </div>

        {{ form_rest(form) }}

        <p>* Champs obligatoires</p>

        <p><input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" /></p>

      {{ form_end(form) }}

      <p>ou s'inscrire via les réseaux sociaux :</p>

      <p><a href="{{ path('facebook_connect') }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> Inscription avec Facebook</a></p>

      <p><a href="{{ path('fos_user_security_login') }}">Vous avez déjà un compte ? <b>Connectez-vous !</b></a></p>

    </div><!-- col -->
  </div><!-- .row -->
</div><!-- .account-login -->
{% endblock %}
