{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="account-login">
        <div class="row">
            <div class="col-sm-6 hidden-xs">
                <img src="{{ asset('bundles/app/images/pinewood.jpg') }}" class="img-responsive"/>
            </div>
            <div class="col-sm-6">
                <h1><span>S'inscrire</span></h1>

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register', { 'redirect': app.request.get('redirect')}), 'attr': {'class': 'fos_user_registration_register', 'id': 'signup-form'}}) }}
                <div class="form-group">
                    <div class="btn-group type-user" data-toggle="buttons">
                        <label class="btn btn-default btn-type-user">
                            {{ form_widget(form.pro.0, {'attr': {'class': 'radioTypeUser'}}) }}
                        </label>
                        <label class="btn btn-default btn-type-user">
                            {{ form_widget(form.pro.1, {'attr': {'class': 'radioTypeUser'}}) }}
                        </label>
                    </div>

                    <div class="showErrorPro"></div>
                    {{ form_errors(form.pro) }}
                </div>

                <div class="data-user">

                    {% if app.request.get('email_registration') %}
                        {% set attrEmail = {'class': 'form-control', 'value': app.request.get('email_registration')} %}
                    {% else %}
                        {% set attrEmail = {'class': 'form-control'} %}
                    {% endif %}

                    <div class="row clearfix">
                        <div class="col-md-4 form-group">
                            {{ form_label(form.civility, 'Civilité', {"label_attr:": { 'class': 'required'}}) }}
                            {{ form_widget(form.civility, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.civility) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label(form.firstname, 'Nom', {"label_attr:": { 'class': 'required'}}) }}
                            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form_label(form.lastname, 'Prénom', {"label_attr:": { 'class': 'required'}}) }}
                            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="required">{{ 'form.email'|trans }}</label>
                                {{ form_widget(form.email, {'attr': attrEmail}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="required">Date de naissance</label>
                                <div class="clearfix">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            {{ form_widget(form.birthday.day, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-xs-4">
                                            {{ form_widget(form.birthday.month, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                        <div class="col-xs-4">
                                            {{ form_widget(form.birthday.year, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                {{ form_errors(form.birthday) }}
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="required">Numero de téléphone</label>
                        {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.phone) }}
                    </div>

                    <input id="phone-full" type="hidden" name="phone-full">

                    <div class="form-group">
                        <label class="required">{{ 'form.password'|trans }}</label>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        <label class="required">{{ 'form.password_confirmation'|trans }}</label>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    <div class="form-group">
                        <label class="required">Nationalité</label>
                        {{ form_widget(form.nationality, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.nationality) }}
                    </div>
                    <div class="form-group">
                        <label class="required">Pays de résidence</label>
                        {{ form_widget(form.residential_country, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.residential_country) }}
                    </div>

                    <div class="pro-user-fields" style="display: none">
                        <div class="form-group">
                            <label class="required">Siren / Numéro d'immatriculation de l'entreprise</label>
                            {{ form_widget(form.company_code, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.company_code) }}
                        </div>
                        <div class="form-group">
                            <label class="required">Nom de l'entreprise</label>
                            {{ form_widget(form.company_name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.company_name) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.street) }}
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                <p>* Champs obligatoires</p>

                <p><input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/></p>

                {{ form_end(form) }}

                <p>ou s'inscrire via les réseaux sociaux :</p>

                <p><a href="{{ path('facebook_connect') }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> Inscription avec Facebook</a></p>

                <p><a href="{{ path('fos_user_security_login') }}">Vous avez déjà un compte ? <b>Connectez-vous !</b></a></p>

            </div><!-- col -->
        </div><!-- .row -->
    </div><!-- .account-login -->
{% endblock %}
