{% trans_default_domain 'FOSUserBundle' %}

<h1>Inscription</h1>
<p>Devenez un utilisateur du site.</p>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="form-group">
  {{ form_widget(form.email, {'attr': {'placeholder': 'form.email'|trans}}) }}
  {{ form_errors(form.email) }}
</div>

<div class="form-group">
  {{ form_widget(form.username, {'attr': {'placeholder': 'form.username'|trans}}) }}
  {{ form_errors(form.username) }}
</div>

<div class="form-group">
  {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.password'|trans}}) }}
  {{ form_errors(form.plainPassword.first) }}
</div>

<div class="form-group">
  {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.password_confirmation'|trans}}) }}
  {{ form_errors(form.plainPassword.second) }}
</div>

<div class="form-group">
  {{ form_widget(form.firstname, {'attr': {'placeholder': "Prénom"}}) }}
  {{ form_errors(form.firstname) }}
</div>

<div class="form-group">
  {{ form_widget(form.lastname, {'attr': {'placeholder': "Nom"}}) }}
  {{ form_errors(form.lastname) }}
</div>

{{ form_rest(form) }}

<div>
  <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}" />
</div>

{{ form_end(form) }}
