{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}easyadmin sidebar-mini show{% endblock %}

{% block content_title %}
  Litiges
{% endblock %}

{% block main %}


  <section id="main" class="content">

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>
            Order ID
          </th>
          <th>
            Acheteur
          </th>
          <th>
            Vendeur
          </th>
          <th>
            Produit
          </th>
        </tr>
        </thead>

        <tbody>

          {% for dispute in disputes %}
            <tr>
              <td>
                {{ dispute.id }}
              </td>
              <td>
                {{ dispute.user.username }}
              </td>
              <td>
                {{ dispute.product.user.username }}
              </td>
              <td>
                {{ dispute.product.name }} - {{ dispute.amount }} €<br />
                Prix produit:
                {{ dispute.productAmount }} €  - Prix livraison: {{ dispute.deliveryAmount }} €
              </td>
              <td>
                <a href="{{ path('admin_dispute', { id: dispute.id }) }}" class="btn btn-success">Gérer le litige</a>
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>


  </section>


{% endblock %}
