{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="main-wrapper {% block mainClass %}{% endblock %}">
  <div class="container">
    <div class="main">

      <div class="row">
        <div class="col-sm-3 sidebar">
          <div class="block block-account">
            <div class="block-title">
              <strong><span>Mon Compte</span></strong>
            </div>
            <div class="block-content">
              <ul>
                  <li><a href="{{ path("user_account_products") }}"><i class="fa fa-angle-right"></i> Mes produits</a></li>
                  <li><a href="{{ path('user_account_wallet') }}"><i class="fa fa-angle-right"></i> Mon argent</a></li>
                  <li><a href="{{ path('user_account_preference') }}"><i class="fa fa-angle-right"></i> Mes préférences</a></li>
                  <li class="current"><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-angle-right"></i> Mes paramètres</a></li>
                  <li><a href="{{ path('user_notification_list') }}"><i class="fa fa-angle-right"></i> Mes notifications</a></li>
                  <li><a href="{{ path('user_account_purchases') }}"><i class="fa fa-angle-right"></i> Mes achats</a></li>
                  <li><a href="{{ path('user_account_sales') }}"><i class="fa fa-angle-right"></i> Mes ventes</a></li>
                  <li><a href="{{ path('user_addresses') }}"><i class="fa fa-angle-right"></i> Mes adresses</a></li>
                  <li><a href="{{ path('user_account_wishlist') }}"><i class="fa fa-angle-right"></i> Ma wishlist</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          {% block account_content %}{% endblock %}
        </div><!-- col -->
      </div><!-- .row -->

    </div>
  </div>
</div>
{% endblock %}