{% extends 'AppBundle::base.html.twig' %}

{% block title %}Le Journal{% endblock %}
{% block description %}Le Journal de {{ siteName }}{% endblock %}

{% block javascript_include %}{{ jsinit(['product']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <h1 class="blog-head-title">Le Journal</h1>

      <ul class="blog-categories">
        <li><a href="{{ path('blog') }}">Tout</a></li>
        {% for category in categories %}
          <li><a href="{{ path('blog_category', {id: category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>

      <div class="box-blog-detail">
        <img class="blog-detail-mainpic img-responsive" src="{{ loadpic(article.image, 1200, 500, 'f', 'articles') }}" alt="" />

        <div class="col-sm-1 blog-detail-date">
          <span class="day">{{ article.createdAt|date('d') }}</span>
          <span class="month">{{ article.createdAt|date('M') }}<br />{{ article.createdAt|date('Y') }}</span>
        </div>
        <div class="col-sm-11 box-detail-article">
          <div class="blog-detail-article">
            <div class="blog-detail-title">
              {{ article.title }}
            </div>
            <div class="blog-detail-category"><span>Posté dans</span> <a href="{{ path('blog_category', {id: article.category.id }) }}">{{ article.category }}</a></div>
            <div class="blog-detail-content">{{ article.content|raw }}</div>

            <div class="blog-detail-author clearfix">
              <div class="blog-author-avatar">
                <img src="{{ article.author.getGravatarImage() }}" alt="avatar" height="70" width="70" />
              </div>
              <div class="blog-author-about">
                {{ article.author.firstname }} {{ article.author.lastname }}
              </div>
            </div><!-- .blog-detail-author -->

          </div><!-- .blog-detail-article -->
        </div><!-- .box-detail-article -->

      </div><!-- .box-blog-detail -->

      <div class="box-blog-comments">
        {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'blog-article-' ~ article.slug } %}
      </div>

    </div><!-- .container -->
  </div><!-- .main -->
</div><!-- .main-wrapper -->
{% endblock %}