{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'login.seo-title'|trans }} - {{ siteName }}{% endblock %}
{% block description %}{{ 'login.seo-description'|trans }}{% endblock %}

{% block javascript_include %}{{ jsinit(['login']) }}{% endblock javascript_include %}

{% block fos_user_content %}
<div class="account-login">

  <div class="row">
    <div class="col-sm-12">
      <h1 class="h2">{{ 'login.create-title'|trans }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="h3">{{ 'login.create-subtitle'|trans }}</h2>

      <p>{{ 'login.create-text'|trans }}</p>

      {% if app.request.get('redirect_to') and redirectToRelative(app.request.get('redirect_to')) %}
        {% set redirect = redirectToRelative(app.request.get('redirect_to')) %}
      {% else %}
        {% set redirect = app.session.get('_security.main.target_path')|default('/') %}
      {% endif %}

      <form action="{{ path('fos_user_registration_register', {'redirect': redirect}) }}" method="post" id="signup-form">

        <div class="form-group">
          <label for="username" class="required">{{ 'entity.user.email'|trans }}</label>
          <input type="email" name="email_registration" value="" class="form-control" required="required" />
        </div>

        <p>{{ 'login.mandatory-field'|trans }}</p>

        <p><input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'login.create-account-btn'|trans }}"/></p>

      </form>

      <hr class="visible-xs">

    </div>
    <div class="col-sm-6 col-login">
      <h2 class="h3">{{ 'login.login-subtitle'|trans }}</h2>

      {% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      <form action="{{ path("fos_user_security_check") }}" method="post" id="login-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
          <label for="username" class="required">{{ 'entity.user.email'|trans }}</label>
          <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
        </div>
        <div class="form-group">
          <label for="password" class="required">{{ 'security.login.password'|trans }}</label>
          <input type="password" id="password" name="_password" class="form-control" required="required" />
        </div>
        <div class="form-group">
          <label class="checkbox-inline">
            <input type="checkbox" id="remember_me" name="_remember_me" class="checkbox" value="on" />
            {{ 'security.login.remember_me'|trans }}
          </label>
        </div>

        {% if app.request.get('redirect_to') and redirectToRelative(app.request.get('redirect_to')) %}
          <input type="hidden" name="redirect_to" value="{{ redirectToRelative(app.request.get('redirect_to'))  }}" />
        {% endif %}

        <p>{{ 'login.mandatory-field'|trans }}</p>

        <p><input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}"/><a href="{{ path('fos_user_resetting_request') }}" style="margin-left: 15px;">{{ 'login.password-lost'|trans }}</a></p>
      </form>

      <p>{{ 'login.social-network-title'|trans }}</p>

      <p><a href="{{ path('facebook_connect') }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> {{ 'login.social-network-btn'|trans }}</a></p>


    </div><!-- col -->
  </div><!-- .row -->
</div><!-- .account-login -->
{% endblock fos_user_content %}