{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ product.name }} & l'univers de {{ product.category.name }} design - {{ siteName }}{% endblock %}
{% block description %}{{ product.name }}. Découvrez aussi tous l'univers de {{ product.category.name }} sur Unik Place, site d'achat vente d'ameublement et décoration design.{% endblock %}

{% block javascript_include %}

    {{ jsinit(['product']) }}

    <script>
        new ShareButton({
            networks: {
                facebook: {
                    appId: "{{ website.facebook_id }}"
                }
            },
            ui: {
                buttonText: 'Partager'
            },
            networks: {
                reddit: {
                    enabled: false
                },
                linkedin: {
                    enabled: false
                },
                email: {
                    enabled: false
                }
            }
        });
    </script>
{% endblock javascript_include %}

{% block bodyclass %}class="page-product"{% endblock %}

{% block body %}

    <div class="coverflow container">
        <div id="main-images" class="owl-carousel owl-loaded owl-theme">
            <div class="slide-container">
                {% for k, image in product.images %}
                    <a class="thumb-link item" href="#" data-image-index="{{ k }}">
                        <img class="img-responsive owl-lazy" data-src="{{ loadpic(image, 1140, 420, 'r3') }}" alt="miniature {{ k }}"/>
                    </a>
                {% endfor %}
            </div>


            <a class="user-action link-wishlist {% if isFavorite %}is-favorite{% endif %}" data-product-id="{{ product.getId() }}" data-action="{{ isFavorite ? 'remove' : 'add' }}">
                <span class="text"><i class="fa {% if isFavorite %}fa-heart-o{% else %}fa-heart{% endif %}"></i></span>
            </a>
            <div class="user-cart">


                <div class="price">{{ product.price|currency_format(product.getCurrency.getCode) }}</div>
                {% if product.getStatus() is not empty and product.getStatus().getName() == 'published' and (app.user != product.user) %}
                    <div class="action-list addtocart">
                        <button type="button" data-toggle="tooltip" data-placement="top" title="{% if product.getId() in app.session.get('cart') %}Ce produit est dans votre panier{% else %}Ajouter au panier{% endif %}" class="btn btn-default pull-right btn-cart {% if product.getId() in app.session.get('cart') %}is-added{% endif %}" data-product-id="{{ product.getId() }}">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            <span class="btn-cart-text">{% if product.getId() in app.session.get('cart') %}Dans votre panier{% else %}Ajouter au panier{% endif %}</span>
                        </button>
                    </div>
                {% endif %}

                {% set isProposal = proposalForm is defined and proposalForm is not null %}
                {% set isPublishedAndOfferAllowed = product.status.name == "published" and product.allowOffer == true %}
                {% set offerPendingOrNoLimit = offLimit == false or (proposal.status is not null and proposal.status.name == "pending" ) %}
                {% if app.user and app.user.email != product.user.email and isPublishedAndOfferAllowed %}
                    <a title="Faire une offre" class="proposal"
                            {% if offerPendingOrNoLimit %}
                                data-toggle="modal" data-target="#orderProposalModal"
                            {% else %}
                                data-container="body" data-toggle="popover" data-placement="top"
                                data-content="Vous avez atteint la limite d'offres pour la journée. Cependant vous pourrez refaire de nouvelles offres dès demain."
                            {% endif %}
                    ><i class="fa fa-money" aria-hidden="true"></i>
                        {% if proposal.status is not null and proposal.status.name == "pending" %}
                            Offre en cours
                        {% elseif isProposal %}
                            Faire une offre
                        {% elseif offLimit %}
                            Nombre d'offre maximum atteint
                        {% else %}
                            Offre acceptée
                        {% endif %}
                    </a>
                {% endif %}
                {% if app.user is empty and isProposal and isPublishedAndOfferAllowed %}

                    {% set productURL = url('product_details', {'id' : product.id, 'slug': product.slug}) %}
                    {% set redirectUrl = path('fos_user_security_login', {'redirect_to': productURL }) %}
                    <a title="Faire une offre" class="btn btn-link"
                       onclick="window.location.href='{{ redirectUrl }}'">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        Faire une offre
                    </a>
                {% endif %}

                {% if product.getStatus() is not empty and product.getStatus().getName() == 'published' and (app.user != product.user) %}
                    <div class="quantity">
                        {% if product.quantity == 1 %}
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Dernier exemplaire
                        {% else %}
                            {{ product.quantity }} exemplaire(s) en stock
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    {% set breadcrumb = product.getBreadcrumb() %}
    <div class="main-breadcrumbs">
        <div class="container">
            <div class="row show-grid">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('homepage') }}" itemprop="url">Accueil</a></span>
                                <span class="separator">/</span>
                            </li>
                            {% for element in breadcrumb %}
                                <li>
                                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('category', {path: element.getPath()}) }}" itemprop="url"><span itemprop="title">{{ element.name }}</span></a></span>
                                    <span class="separator">/</span>
                                </li>
                            {% endfor %}
                            <li><h1>{{ product.name }}</h1></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="main-container col1-layout">
        <div class="main-wrapper">
            <div class="main">
                <div class="container">
                    <div class="row show-grid">
                        <div class="col-main">
                            <div class="product-view">

                                <div class="col-lg-9 clearfix">
                                    {% for key, flashs in app.session.getFlashBag.all() %}

                                        <div class="alert alert-{{ key }}">
                                            {% for message in flashs %}
                                                {{ message }}
                                            {% endfor %}
                                        </div>

                                    {% endfor %}

                                    <div class="product-essential show-grid clearfix">
                                        <form action="#" method="post" id="product_addtocart_form">
                                            <div class="no-display col-lg-12">
                                                <input type="hidden" name="product" value="19"/>
                                                <input type="hidden" name="related_product" id="related-products-field" value=""/>
                                            </div>

                                            <div class="product-shop">
                                                <div class="product-shop-wrapper">
                                                    <div class="product-name top-product-detail">
                                                        <h2 class="h2">{{ product.name }}</h2>
                                                    </div>
                                                    <div class="middle-product-detail">

                                                        <div class="review-product-details product-type-data">
                                                            <div class="price-box">
                                                                <div class="short-description">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <span class="price">{{ product.price|currency_format(product.getCurrency.getCode) }}</span>
                                                                            {% if product.originalPrice is not empty %}
                                                                                <span class="price original-price">{{ product.originalPrice|currency_format(product.getCurrency.getCode) }}</span>
                                                                            {% endif %}
                                                                            {% if product.getStatus() is not empty and product.getStatus().getName() == 'published' and (app.user != product.user) %}
                                                                                <p>
                                                                                    <b>{{ product.quantity }} exemplaire(s) en stock.</b>
                                                                                </p>
                                                                            {% endif %}
                                                                        </div>


                                                                        <div class="col-md-6 text-right">
                                                                            {% if product.getStatus() is not empty and product.getStatus().getName() == 'sold' %}
                                                                                <p class="availability in-stock">
                                                                                    <span class="label label-primary">{{ product.getStatus().getLabel() }}</span>
                                                                                </p>
                                                                            {% elseif product.getStatus() is not empty and product.getStatus().getName() == 'unavailable' %}
                                                                                <p class="availability in-stock">
                                                                                    <span class="label label-danger">{{ product.getStatus().getLabel() }}</span>
                                                                                </p>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- .middle-product-detail -->


                                                    <div class="middle-product-detail">

                                                        <div class="review-product-details">
                                                            <div class="short-description-detail">
                                                                <div class="short-description">
                                                                    <h3 class="product-title">Description du produit</h3>
                                                                    <div class="std">

                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                {% for code, attribute in productAttributes if attribute.deposit != "color" %}
                                                                                    <div class="row">
                                                                                        <div class="col-xs-4 col-sm-5">
                                                                                            <b>{{ attribute.name }}</b>
                                                                                        </div>
                                                                                        <div class="col-xs-8 col-sm-7">
                                                                                            {{ attribute.value }}
                                                                                        </div>
                                                                                    </div>
                                                                                {% endfor %}
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="row">
                                                                                    <div class="col-xs-4 col-sm-5">
                                                                                        <b>Dimensions: </b>
                                                                                    </div>
                                                                                    <div class="col-xs-8 col-sm-7">
                                                                                        Hauteur: {{ product.height * 100 }} cm <br/>Largeur: {{ product.width * 100 }} cm <br/>Profondeur: {{ product.length * 100 }} cm
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="middle-product-detail">

                                                        <div class="review-product-details">
                                                            <div class="short-description-detail">
                                                                <div class="short-description">
                                                                    <div class="std description">
                                                                        {{ product.description|nl2br }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="middle-product-detail">

                                                        <div class="review-product-details">
                                                            <div class="short-description-detail">
                                                                <div class="short-description">
                                                                    <div class="std">
                                                                        <h3 class="product-title">Les modes de livraison</h3>
                                                                        <ul>
                                                                        {% for delivery in product.deliveries.toArray %}

                                                                            {% if delivery.deliveryMode.type == 'by_hand' %}
                                                                                <li>- Retrait chez le vendeur</li>
                                                                            {% elseif delivery.deliveryMode.type == 'shipping'  %}
                                                                                <li>- Livraison en France</li>
                                                                            {% endif %}
                                                                        {% endfor %}

                                                                        {% if product.emc %}
                                                                            <li>- Livraison en France et à l'international</li>
                                                                        {% endif %}

                                                                        </ul>

                                                                        <p class="info-delivery">
                                                                            Modes et Frais de livraison : vous pourrez sélectionner votre mode de livraison une fois le produit ajouté au panier<br />
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div><!-- .product-shop-wrapper -->
                                            </div><!-- .product-shop -->

                                        </form>

                                    </div><!-- .product-essential -->

                                    <div class="comments">

                                        <h3 class="product-title">Les commentaires du produit</h3>

                                        {% include 'CommentBundle:Default:index.html.twig' with comment %}
                                    </div>

                                    {% if ratings %}
                                    <div class="ratings">
                                        <h3 class="product-title">Avis sur le vendeur</h3>

                                        <div class="user-ratings-modal">
                                            <div class="text-left">
                                                {% for rating in ratings %}
                                                    <div class="row rating">
                                                        <div class="col-sm-12">
                                                            <div class="rate">
                                                                {% if rating.rate == 5 %}
                                                                    <span class="badge green"> </span> Excellent
                                                                {% elseif rating.rate == 4 %}
                                                                    <span class="badge green-light"> </span> Très bien
                                                                {% elseif rating.rate == 3 %}
                                                                    <span class="badge yellow"> </span> Bien
                                                                {% elseif rating.rate == 2 %}
                                                                    <span class="badge orange"> </span> Décevant
                                                                {% elseif rating.rate == 1 %}
                                                                    <span class="badge red"> </span> A éviter
                                                                {% endif %}
                                                                <small><span class="date" style="font-size: 9px;">{{ rating.createdAt|date('d/m/Y') }}</span></small>
                                                            </div>
                                                            {% if rating.message|length == 0 %}
                                                                <i>Aucun commentaire laissé</i>
                                                            {% else %}
                                                                {{ rating.message }}
                                                            {% endif %}
                                                        </div>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><!-- .user-ratings-modal -->
                                    </div>
                                    {% endif %}


                                </div>

                                <div class="col-lg-3">


                                    <div class="row">

                                        <div class="col-lg-12 col-md-4 hidden-sm">
                                            <div class="need-help">

                                                <h4>Besoin d'aide ?</h4>

                                                <p>Vous avez besoin d'aide, vous pouvez contacter notre équipe de support.</p>

                                                <p>
                                                    <a class="btn btn-info btn-sm" title="Contacter le support" href="{{ path('contact') }}">Nous contacter</a>
                                                </p>

                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-4 col-sm-6">
                                            <div class="items-info">

                                                <h4>Nos engagements</h4>

                                                <span class="item-info-li"><i class="fa fa-lock"></i><span>Paiement en ligne <br/>100% sécurisé</span></span>
                                                <span class="item-info-li"><i class="fa fa-user"></i>Service client <br/>à votre disposition</span>
                                                <span class="item-info-li"><i class="fa fa-certificate"></i>Qualité du contenu <br/>Produits sélectionnés </span>
                                            </div>
                                        </div>


                                        <div class="col-lg-12 col-md-4 col-sm-6">
                                            <div class="items-info-contact">

                                                <h4>Service client</h4>

                                                <span class="item-info-li"><i class="fa fa-envelope-o"></i><a href="mailto:{{ website.contact.email }}" class="email">{{ website.contact.email }}</a> </span>
                                                <span class="item-info-li"><i class="fa fa-phone"></i><a href="tel:{{ website.contact.phone|replace({' ' : ''}) }}" class="phone">{{ website.contact.phone }}</a> </span>
                                                <span class="item-info-li"><i class="fa fa-comments"></i><span class="address">Par tchat <br/> 24h/24</span> </span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- .product-view -->

                        </div><!-- .col-main -->
                    </div><!-- .row show-grid -->

                    {% if similarProducts|length >= 4 %}
                        <div class="widget-products-related">
                            <h3 class="title-widget"><span>Produits similaires</span></h3>

                            <p class="block-subtitle">Ces objets similaires sont susceptibles de vous intéresser.</p>

                            {% if similarProducts|length >= 4 %}
                                <div class="owl-nav similar-products">
                                    <i class="fa fa-long-arrow-left owl-nav-left"></i>
                                    <i class="fa fa-long-arrow-right owl-nav-right"></i>
                                </div>
                            {% endif %}

                            {% include '@Product/Search/product_grid.html.twig' with { products: similarProducts, col: 'products-itemgrid-4col', id: 'similar-products', carrousel: true} %}
                        </div>
                    {% endif %}


                    {% if similarProductsUser|length >= 4 %}
                        <div class="widget-products-related">
                            <h3 class="title-widget"><span>Produits du même vendeur</span></h3>

                            <p class="block-subtitle">Ces objets du même vendeur sont suceptibles de vous intéresser.</p>

                            {% if similarProductsUser|length >= 4 %}
                                <div class="owl-nav user-products">
                                    <i class="fa fa-long-arrow-left owl-nav-left"></i>
                                    <i class="fa fa-long-arrow-right owl-nav-right"></i>
                                </div>
                            {% endif %}

                            {% include '@Product/Search/product_grid.html.twig' with { products: similarProductsUser, col: 'products-itemgrid-4col', id: 'user-products', carrousel: true} %}
                        </div>
                    {% endif %}

                </div><!-- .container -->
            </div><!-- .main -->

        </div><!-- .main-wrapper -->
    </section>


    <!-- Modal -->
    <div class="modal fade modal-cart" id="modalAddToCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mon panier</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3">
                            {% set images = product.getImages() %}
                            <img src="{% if images[0] is defined %}{{ loadpic(images[0], 200, 200, 'r3') }}{% endif %}" alt="{{ product.name }}" class="img-responsive"/>
                        </div>
                        <div class="col-xs-9 text-center">
                            <div class="padd">
                                <span class="product-name">Le produit "<span>{{ product.name }}</span>" a été ajouté au panier.</span><br />
                                <small>Vous pouvez visualiser votre panier en cliquant sur Mon panier.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-link" href="{{ path('cart') }}">Accéder au panier</a>
                    <button class="btn btn-primary btn-continue" title="Continuer le shopping" data-dismiss="modal">Continuer mes achats</button>
                </div>
            </div>
        </div>
    </div>


    {% if offerPendingOrNoLimit and app.user and app.user.email != product.user.email and isPublishedAndOfferAllowed %}
        <div class="modal fade in" id="orderProposalModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                        </button>
                        <div class="h4 modal-title">
              <span class="h4">
              {{ isProposal ? "Faire une offre" : "Offre" }} pour le produit <i>{{ product.name }}</i>
              </span>
                        </div>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="proposal-product">
                                    <div class="proposal-price">
                                        Prix du produit :
                                        {{ product.price|currency_convert_format(product.getCurrency.getCode) }}
                                    </div>
                                    <div>
                                        {% set img = images[0] is defined ? loadpic(images[0], 275, 275, 'r3') : "#" %}
                                        <img class="img-responsive img-thumbnail"
                                             src="{{ img }}" alt="{{ product.name }}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="proposal-right">
                                    <div class="col-md-12 col-center-block">
                                        {% if isProposal %}
                                            {{ form_start(proposalForm) }}
                                            {{ form_end(proposalForm) }}
                                        {% else %}
                                            <label class="control-label">Offre actuelle :</label>
                                            <div class="form-control">
                                                {{ proposal.amount|currency_convert_format(product.getCurrency.getCode) }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}