{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.name }} sur {{ siteName }}{% endblock %}

{% block javascript_include %}{{ jsinit(['product']) }}{% endblock javascript_include %}

{% block body %}

{% set breadcrumb = product.getBreadcrumb() %}
<div class="main-breadcrumbs">
  <div class="container">
    <div class="row show-grid">
      <div class="col-lg-12">
        <div class="breadcrumbs">
          <ul>
            <li>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('homepage') }}" itemprop="url">Accueil</a></span>
              <span class="separator">/</span>
            </li>
            {% for element in breadcrumb %}
            <li>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('category', {path: element.getPath()}) }}" itemprop="url"><span itemprop="title">{{ element.name }}</span></a></span>
              <span class="separator">/</span>
            </li>
            {% endfor %}
            <li><strong>{{ product.name }}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main-container col1-layout">
  <div class="main-wrapper">
    <div class="main">
      <div class="container">
        <div class="row show-grid">
          <div class="col-main">
            <div class="product-view">

              {% for key, flashs in app.session.getFlashBag.all() %}

                <div class="alert alert-{{ key }}">
                  {% for message in flashs %}
                    {{ message }}
                  {% endfor %}
                </div>

              {% endfor %}


              <div class="product-essential show-grid">
                <form action="#" method="post" id="product_addtocart_form">
                  <div class="no-display col-lg-12">
                    <input type="hidden" name="product" value="19"/>
                    <input type="hidden" name="related_product" id="related-products-field" value=""/>
                  </div>
                  <div class="product-img-box col-md-6 col-sm-6">
                    <div class="product-img-list">
                      <div class="more-views-verticle">
                        <a class="more-views-prev more-views-nav" href="javascript:void(0)" id="carousel-up" style="display: block;">
                          <i aria-hidden="true" class="fa fa-long-arrow-up"></i>
                        </a>
                        <div class="media-list">
                          {% set images = product.getImages() %}
                          <div id="more-slides" class="verticl-carousel product-image-thumbs">
                            {% for k, image in images %}
                              <a class="thumb-link" href="#" data-image-index="{{ k }}">
                                <img class="img-responsive" src="{{ loadpic(image, 88, 88, 'f') }}" data-src="{{ loadpic(image, 700, 700, 'c') }}" alt="miniature {{ k }}" />
                              </a>
                            {% endfor %}
                          </div>
                        </div>
                        <a class="more-views-next more-views-nav" href="javascript:void(0)" id="carousel-down" style="display: block;">
                          <i aria-hidden="true" class="fa fa-long-arrow-down"></i>
                        </a>
                      </div>

                      <div class="product-image product-image-zoom">
                        <div class="product-image-gallery">
                          {% set imgType = "c" %}
                          <img id="image-main" class="gallery-image visible" src="{% if images[0] is defined %}{{ loadpic(images[0], 700, 700, imgType) }}{% endif %}" data-zoom="{% if images[0] is defined %}{{ loadpic(images[0], 700, 700, imgType) }}{% endif %}" alt="{{ product.name }}" title="{{ product.name }}"/>
                        </div>
                      </div>

                    </div><!-- .product-img-list -->
                  </div><!-- .product-img-box -->

                  <div class="product-shop col-md-6 col-sm-6">
                    <div class="product-shop-wrapper">
                      <div class="product-name top-product-detail">
                        <h2>{{ product.name }}</h2>
                      </div>
                      <div class="middle-product-detail">
                        <!--<div class="review-product-details">
                          <div class="ratings">
                            <div class="rating-box">
                              <div class="rating" style="width:100%"></div>
                            </div>
                            <p class="rating-links">
                              <a href="#">0 avis(s)</a>
                              <span class="separator">|</span>
                              <a href="#">Noter ce produit</a>
                            </p>
                          </div>
                        </div>-->

                        <div class="review-product-details product-type-data">
                          <p class="availability in-stock">
                            {% set product_status = product.getStatus() %}
                            {% if product_status == 'published' %}
                              <span class="label label-success">{{ product_status.getLabel() }}</span>
                            {% endif %}
                            {% if product_status == 'sold' %}
                              <span class="label label-primary">{{ product_status.getLabel() }}</span>
                            {% endif %}
                            {% if product_status == 'unavailable' %}
                              <span class="label label-danger">{{ product_status.getLabel() }}</span>
                            {% endif %}
                          </p>
                          <div class="price-box">
                            <p class="special-price">
                              <span class="price-label">Special Price</span>
                              {% if proposal.status is not null and proposal.status.name == "accepted" %}
                                <span class="price">
                                  <s>{{ product.price|currency_format(product.getCurrency.getCode) }}</s>
                                </span>
                                Prix négocié :
                                <span class="price">{{ proposal.amount|currency_format(product.getCurrency.getCode) }}</span>
                              {% else %}
                                <span class="price">{{ product.price|currency_format(product.getCurrency.getCode) }}</span>
                              {% endif %}
                            </p>
                          </div>
                        </div>

                        <div class="short-description-detail">
                          <div class="short-description">
                            <h2>Aperçu rapide</h2>
                            <div class="std">{{ product.description }}</div>
                          </div>
                        </div>
                      </div><!-- .middle-product-detail -->

                      <div class="actions-wrapper">
                        <div class="add-to-cart">
                          <div class="actions">
                            {% if product.getStatus() is not empty and product.getStatus().getName() == 'published' and (app.user != product.user)%}
                              <div class="action-list addtocart">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="{% if product.getId() in app.session.get('cart') %}Ce produit est dans votre panier{% else %}J'ajoute{% endif %}" class="btn-cart {% if product.getId() in app.session.get('cart') %}is-added{% endif %}" data-product-id="{{ product.getId() }}">
                                  <span class="btn-cart-lbl">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="btn-cart-txt">{% if product.getId() in app.session.get('cart') %}Dans votre panier{% else %}J'ajoute{% endif %}</span>
                                  </span>
                                </button>
                              </div>
                            {% endif %}

                            <div class="action-list wishlist">
                              <ul class="add-to-links">
                                <li class="first wishlist">
                                  <button type="button" class="link-wishlist {% if isFavorite %}is-favorite{% endif %}" data-product-id="{{ product.getId() }}" data-action="{{ isFavorite ? 'remove' : 'add' }}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div><!-- .actions -->
                          {% set isProposal = proposalForm is defined and proposalForm is not null %}
                          {% set isPublishedAndOfferAllowed = product.status.name == "published" and product.allowOffer == true %}
                          {% set offerPendingOrNoLimit = offLimit == false or (proposal.status is not null and proposal.status.name == "pending" )%}
                          {% if app.user and app.user.email != product.user.email and isPublishedAndOfferAllowed %}
                            <div class="actions"
                                    {% if offerPendingOrNoLimit %}
                                      data-toggle="modal" data-target="#orderProposalModal"
                                    {% else %}
                                      data-container="body" data-toggle="popover" data-placement="top"
                                      data-content="Vous avez atteint la limite d'offres pour la journée. Cependant vous
                                        pourrez refaire de nouvelles offres dès demain."
                                    {% endif %}>
                              <div class="action-list contact-seller">
                                <button type="button" title="Faire une offre" class="btn-contact">
                                  <span class="btn-contact-lbl">
                                    <span class="btn-contact-txt">
                                      {% if proposal.status is not null and proposal.status.name == "pending" %}
                                        Offre en cours
                                      {% elseif isProposal %}
                                        Faire une offre
                                      {% elseif offLimit %}
                                        Nombre d'offre maximum atteint
                                      {% else %}
                                        Offre acceptée
                                      {% endif %}
                                    </span>
                                  </span>
                                </button>
                              </div>
                            </div><!-- .actions -->

                          {% endif %}
                        </div>
                      </div><!-- .actions-wrapper -->
                      {% if offerPendingOrNoLimit and app.user and app.user.email != product.user.email and isPublishedAndOfferAllowed %}
                        <div class="modal fade in" id="orderProposalModal" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                  <span aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                                </button>
                                <div class="h4 modal-title">
                                  <span class="h4">
                                  {{ isProposal ? "Faire une offre" : "Offre" }} pour le produit <i>{{ product.name }}</i>
                                  </span>
                                </div>
                              </div>
                              <div class="modal-body text-center">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="proposal-product">
                                      <div class="proposal-price">
                                        Prix du produit :
                                        {{  product.price|currency_convert_format(product.getCurrency.getCode) }}
                                      </div>
                                      <div>
                                        {% set img = images[0] is defined ? loadpic(images[0], 275, 275) : "#" %}
                                        <img class="img-responsive img-thumbnail"
                                             src="{{ img }}" alt="{{ product.name }}" />
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="proposal-right">
                                      <div class="col-md-12 col-center-block">
                                        {% if isProposal %}
                                          {{ form_start(proposalForm) }}
                                          {{ form_end(proposalForm) }}
                                          {% else %}
                                            <label class="control-label">Offre actuelle :</label>
                                            <div class="form-control">
                                              {{  proposal.amount|currency_convert_format(product.getCurrency.getCode) }}
                                            </div>
                                        {% endif %}

                                        <p>Pour en savoir plus,
                                          <u>
                                            <a class="pointer" data-dismiss="modal" data-toggle="modal"
                                               data-target="#message-modal">posez une question</a>
                                          </u> au vendeur
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}


                      {% if app.user != product.user %}
                      <div class="actions-wrapper">
                        <div class="add-to-cart">
                          <a class="actions" {% if thread %}href="{{ path('fos_message_thread_view', { threadId: thread[0].getId() }) }}"{% elseif app.user is null %} href="{{ path('fos_user_security_login', {'redirect_to' : (app.request.schemeAndHttpHost ~ app.request.requestUri)|url_encode }) }}" {% else %}href="#" onclick="return false;" data-toggle="modal" data-target="#message-modal"{% endif %}>
                            {% if product.getStatus() is not empty and product.getStatus().getName() == 'published' %}
                              <div class="action-list contact-seller">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="Contacter le vendeur" class="btn-contact">
                                  <span class="btn-contact-lbl">
                                    <span class="btn-contact-txt">Contacter le vendeur</span>
                                  </span>
                                </button>
                              </div>
                            {% endif %}

                            <div class="action-list wishlist">
                              <ul class="add-to-links">
                                <li class="first wishlist">
                                  <button type="button" class="link-wishlist">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </a><!-- .actions -->
                        </div>
                      </div><!-- .actions-wrapper -->

                      {% if formMessage %}
                      <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="message-modal-label">Contacter le vendeur</h4>
                            </div>
                            {{ form_start(formMessage) }}
                            <div class="modal-body">

                                <div class="form-group">
                                  <label class="required">Message</label>
                                  {{ form_widget(formMessage.body, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                                  {{ form_errors(formMessage.body) }}
                                </div>

                                {{ form_rest(formMessage) }}

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                              <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>

                          </div>
                        </div>
                      </div>
                      {% endif %}

                      {% endif %}

                    </div><!-- .product-shop-wrapper -->
                  </div><!-- .product-shop -->

                </form>

              </div><!-- .product-essential -->

              <div class="product-collateral">
                <ul id="product-tab" class="nav nav-tabs" role="tablist">
                  <li class=" active first">
                    <a href="#product_tabs_customfields" role="tab" data-toggle="tab">Caractéristiques</a>
                  </li>
                  <li>
                    <a href="#product_tabs_shipping" role="tab" data-toggle="tab">Frais de livraison</a>
                  </li>
                  {% if ratings %}
                  <li>
                    <a href="#product_tabs_ratings" role="tab" data-toggle="tab">Avis concernant le vendeur</a>
                  </li>
                  {% endif %}
                </ul>

                <div class="tab-content">
                  <div class="tab-pane in active first" id="product_tabs_customfields">
                    <div class="product-tabs-content-inner clearfix">
                      <div class="std">
                        {% if productAttributes is empty %}
                        <p>Aucune caractéristique renseignée pour ce produit.</p>
                        {% else %}
                        <ul>
                          {% for attribute in productAttributes %}
                          <li>{{ attribute.name }}: {{ attribute.value }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane" id="product_tabs_shipping">
                    <div class="product-tabs-content-inner clearfix">
                      <div class="widget-products-upsell">
                        <div class="std text-left">
                          Le vendeur propose les modes de livraison suivants :
                          <br>
                          {% for delivery in product.deliveries.toArray %}
                              {{ delivery.deliveryMode.name }} :
                            {% if delivery.fee == 0 %}
                              Gratuit
                            {% else %}
                              {{  delivery.fee|currency_convert_format(product.currency.code) }}
                            {% endif %}
                            {% if delivery.deliveryMode.description is not null %}
                              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top"
                                 data-container="body" title="{{  delivery.deliveryMode.description }}"></i>
                            {% endif %}
                            <br>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>


                  {% if ratings %}
                    <div class="tab-pane" id="product_tabs_ratings">
                      <div class="product-tabs-content-inner clearfix">
                        <div class="widget-products-upsell">
                          <div class="std text-left">

                            <div class="user-ratings-modal">
                              <div class="text-left">
                                {% for rating in ratings %}
                                  <div class="row rating">
                                    <div class="col-sm-12">
                                      <div class="rate">
                                        {% if rating.rate == 5 %}
                                          <span class="badge green"> </span> Excellent
                                        {% elseif rating.rate == 4 %}
                                          <span class="badge green-light"> </span> Très bien
                                        {% elseif rating.rate == 3 %}
                                          <span class="badge yellow"> </span> Bien
                                        {% elseif rating.rate == 2 %}
                                          <span class="badge orange"> </span> Décevant
                                        {% elseif rating.rate == 1 %}
                                          <span class="badge red"> </span> A éviter
                                        {% endif %}
                                      </div>
                                      {% if rating.message|length == 0 %}
                                        <i>Aucun commentaire laissé</i>
                                      {% else %}
                                        {{ rating.message }}
                                      {% endif %}
                                      <div class="date">{{ rating.createdAt|date('d/m/Y') }}</div>
                                    </div>

                                  </div>
                                {% endfor %}
                              </div>
                            </div><!-- .user-ratings-modal -->
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                </div><!-- .tab-content -->
              </div><!-- .product-collateral -->
            </div><!-- .product-view -->

          </div><!-- .col-main -->
        </div><!-- .row show-grid -->

        {% if similarProducts|length > 6 %}
          <div class="widget-products-related">
            <h3 class="title-widget"><span>Produits similaires</span></h3>

            <p class="block-subtitle">Ces objets similaires sont suceptibles de vous intéresser.</p>

            <div class="owl-nav">
              <i class="fa fa-long-arrow-left owl-nav-left"></i>
              <i class="fa fa-long-arrow-right owl-nav-right"></i>
            </div>

            <div class="category-products">
              <ul class="products-grid owl-carousel" id="similar-products">
                {% for product in similarProducts %}
                  <li class="item hover-effect">
                    <div class="item-inner">
                      <div class="product-action">
                        {% if date(product.getCreatedAt()) > date('-2weeks') %}
                          <div class="product-new-label">Nouveau</div>
                        {% endif %}
                        {% if product.getStatus() is not empty and product.getStatus().getName() == 'sold' %}
                          <div class="product-sale-label">Vendu</div>
                        {% endif %}
                        <a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}" class="product-image">
                          {% set images = product.getImages() %}
                          <img class="img-responsive" src="{% if images[0] is defined %}{{ loadpic(images[0], 275, 275, 'f') }}{% endif %}" alt="{{ product.name }}" />
                        </a>
                      </div>
                      <div class="product-content">
                        <h3 class="product-name"><a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}">{{ product.getName }}</a></h3>

                        <div class="price-box">
                          <p class="old-price">
                            <span class="price-label">Ancien prix :</span>
                            <span class="price">48,00€</span>
                          </p>

                          <p class="special-price">
                            <span class="price-label">Nouveau prix :</span>
                            <span class="price">{{ product.price|currency_convert_format(product.getCurrency.getCode) }}</span>
                          </p>
                        </div>
                      </div>

                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

      </div><!-- .container -->
    </div><!-- .main -->

  </div><!-- .main-wrapper -->
</section>

<div class="popup-wrapper">
  <div class="content-wrapper">
    <div class="product-detail">
      {% set images = product.getImages() %}
      <img src="{% if images[0] is defined %}{{ loadpic(images[0], 135, 135) }}{% endif %}" width="135" height="135"
           alt="{{ product.name }}" />
      <span class="product-name">Le produit "<span>{{ product.name }}</span>" a été ajouté au panier.</span>
      <div class="actions">
        <a class="btn btn-primary" href="{{ path('cart') }}">Accéder au panier</a>
        <button class="btn btn-primary btn-continue" title="Continuer le shopping">Continuer</button>
      </div>
    </div>
  </div>
  <div class="loading"></div>
</div>
{% endblock %}