{% extends 'AppBundle::base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.name }} sur Noname{% endblock %}

{% block javascript_include %}{{ jsinit(['product']) }}{% endblock javascript_include %}

{% block body %}

{% set breadcrumb = product.getBreadcrumb() %}
<div class="main-breadcrumbs">
  <div class="container">
    <div class="row show-grid">
      <div class="col-lg-12">
        <div class="breadcrumbs">
          <ul>
            <li>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('homepage') }}" itemprop="url">Accueil</a></span>
              <span class="separator">/</span>
            </li>
            {% for element in breadcrumb %}
            <li>
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('category', {path: element.getPath()}) }}" itemprop="url"><span itemprop="title">{{ element.name }}</span></a></span>
              <span class="separator">/</span>
            </li>
            {% endfor %}
            <li><strong>{{ product.name }}</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="main-container col1-layout">
  <div class="main-wrapper">
    <div class="main">
      <div class="site-preface"></div>
        <div class="container">
          <div class="row show-grid"></div>
        </div>
        <div class="container">
          <div class="row show-grid">
            <div class="col-main">
              <div class="product-view">
                <div class="product-essential show-grid">
                  <form action="#" method="post" id="product_addtocart_form">
                    <div class="no-display col-lg-12">
                      <input type="hidden" name="product" value="19"/>
                      <input type="hidden" name="related_product" id="related-products-field" value=""/>
                    </div>
                    <div class="product-img-box col-md-6 col-sm-6">
                      <div class="product-img-list">


                        <div class="more-views-verticle">
                          <a class="more-views-prev more-views-nav" href="javascript:void(0)" id="carousel-up" style="display: block;">
                            <i aria-hidden="true" class="fa fa-long-arrow-up"></i>
                          </a>
                          <div class="media-list">
                            {% set images = product.getImages() %}
                            <div id="more-slides" class="verticl-carousel product-image-thumbs">
                              {% for k, image in images %}
                                <a class="thumb-link" href="#" data-image-index="{{ k }}">
                                  <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="miniature {{ k }}" />
                                </a>
                              {% endfor %}
                            </div>
                          </div>
                          <a class="more-views-next more-views-nav" href="javascript:void(0)" id="carousel-down" style="display: block;">
                            <i aria-hidden="true" class="fa fa-long-arrow-down"></i>
                          </a>
                        </div>

                        <div class="product-image product-image-zoom">
                          <div class="product-image-gallery">
                            <img id="image-main" class="gallery-image visible" src="{% if images[0] is defined %}{{ vich_uploader_asset(images[0], 'imageFile') }}{% endif %}" data-zoom="{% if images[0] is defined %}{{ vich_uploader_asset(images[0], 'imageFile') }}{% endif %}" alt="{{ product.name }}" title="{{ product.name }}"/>
                          </div>
                        </div>

                      </div><!-- .product-img-list -->
                    </div><!-- .product-img-box -->

                    <div class="product-shop col-md-6 col-sm-6">
                      <div class="product-shop-wrapper">
                        <div class="product-name top-product-detail">
                          <h2>{{ product.name }}</h2>
                        </div>
                        <div class="middle-product-detail">
                          <div class="review-product-details">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating" style="width:100%"></div>
                              </div>
                              <p class="rating-links">
                                <a href="#">0 avis(s)</a>
                                <span class="separator">|</span>
                                <a href="#">Noter ce produit</a>
                              </p>
                            </div>
                          </div>

                          <div class="product-type-data">
                            <p class="availability in-stock">Disponibilité : <span>En stock</span></p>
                            <div class="price-box">
                              <p class="special-price">
                                <span class="price-label">Special Price</span>
                                <span class="price">{{ product.price|currency_convert_format(product.getCurrency.getCode) }}</span>
                              </p>
                            </div>
                          </div>

                          <div class="short-description-detail">
                            <div class="short-description">
                              <h2>Aperçu rapide</h2>
                              <div class="std">{{ product.description }}</div>
                            </div>
                          </div>
                        </div><!-- .middle-product-detail -->

                        <div class="actions-wrapper">
                          <div class="add-to-cart">
                            <div class="actions">
                              <div class="action-list addtocart">
                                <button type="button" data-toggle="tooltip" data-placement="top" title="J'ajoute" class="btn-cart" data-product-id="{{ product.getId() }}">
                                  <span>
                                    <span>
                                      <i class="fa fa-shopping-bag"></i>
                                      J'ajoute
                                    </span>
                                  </span>
                                </button>
                              </div>

                              <div class="action-list wishlist">
                                <ul class="add-to-links">
                                  <li class="first wishlist">
                                    <button type="button" class="link-wishlist {% if isFavorite %}is-favorite{% endif %}" data-product-id="{{ product.getId() }}" data-action="{{ isFavorite ? 'remove' : 'add' }}">
                                      <i class="fa fa-heart" aria-hidden="true"></i>
                                    </button>
                                  </li>
                                </ul>
                              </div>
                            </div><!-- .actions -->
                          </div>
                        </div><!-- .actions-wrapper -->
                      </div><!-- .product-shop-wrapper -->
                    </div><!-- .product-shop -->

                  </form>

                  <!--<script type="text/javascript">
                      //<![CDATA[
                      var productAddToCartForm = new VarienForm('product_addtocart_form');
                      productAddToCartForm.submit = function (button, url) {
                          if (this.validator.validate()) {
                              var form = this.form;
                              var oldUrl = form.action;

                              if (url) {
                                  form.action = url;
                              }
                              var e = null;
                              try {
                                  this.form.submit();
                              } catch (e) {
                              }
                              this.form.action = oldUrl;
                              if (e) {
                                  throw e;
                              }

                              if (button && button != 'undefined') {
                                  button.disabled = true;
                              }
                          }
                      }.bind(productAddToCartForm);

                      productAddToCartForm.submitLight = function (button, url) {
                          if (this.validator) {
                              var nv = Validation.methods;
                              delete Validation.methods['required-entry'];
                              delete Validation.methods['validate-one-required'];
                              delete Validation.methods['validate-one-required-by-name'];
                              // Remove custom datetime validators
                              for (var methodName in Validation.methods) {
                                  if (methodName.match(/^validate-datetime-.*/i)) {
                                      delete Validation.methods[methodName];
                                  }
                              }
                              if (this.validator.validate()) {
                                  if (url) {
                                      this.form.action = url;
                                  }
                                  this.form.submit();
                              }
                              Object.extend(Validation.methods, nv);
                          }
                      }.bind(productAddToCartForm);
                                  //]]>
                  </script>-->

                </div><!-- .product-essential -->

                <div class="product-collateral">
                  <ul id="product-tab" class="nav nav-tabs" role="tablist">
                    <li class=" active first">
                      <a href="#product_tabs_customfields" role="tab" data-toggle="tab">Caractéristiques</a>
                    </li>
                    <li>
                      <a href="#product_tabs_shipping" role="tab" data-toggle="tab">Frais de livraison</a>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div class="tab-pane in active first" id="product_tabs_customfields">
                      <div class="product-tabs-content-inner clearfix">
                        <div class="std">
                          {% if productAttributes is empty %}
                          <p>Aucune caractéristique renseignée pour ce produit.</p>
                          {% else %}
                          <ul>
                            {% for attribute in productAttributes %}
                            <li>{{ attribute.name }}: {{ attribute.value }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane" id="product_tabs_shipping">
                      <div class="product-tabs-content-inner clearfix">
                        <div class="widget-products-upsell">
                          <div class="std">
                            Frais de livraison
                          </div>
                        </div>
                      </div>
                    </div>

                  </div><!-- .tab-content -->
                </div><!-- .product-collateral -->
              </div><!-- .product-view -->


                                        </div>
            </div>
    <div class="widget-products-related">
      <h3 class="title-widget"><span>Produits similaires</span></h3>
      <p class="block-subtitle">Check items to add to the cart or&nbsp;<a href="#" onclick="selectAllRelated(this); return false;">sélectionnez-les tous</a></p>
    </div>

    <!--<script type="text/javascript">
    //<![CDATA[
    $$('.related-checkbox').each(function(elem){
        Event.observe(elem, 'click', addRelatedToProduct)
    });

    var relatedProductsCheckFlag = false;
    function selectAllRelated(txt){
        if (relatedProductsCheckFlag == false) {
            $$('.related-checkbox').each(function(elem){
                elem.checked = true;
            });
            relatedProductsCheckFlag = true;
            txt.innerHTML="unselect all";
        } else {
            $$('.related-checkbox').each(function(elem){
                elem.checked = false;
            });
            relatedProductsCheckFlag = false;
            txt.innerHTML="select all";
        }
        addRelatedToProduct();
    }

    function addRelatedToProduct(){
        var checkboxes = $$('.related-checkbox');
        var values = [];
        for(var i=0;i<checkboxes.length;i++){
            if(checkboxes[i].checked) values.push(checkboxes[i].value);
        }
        if($('related-products-field')){
            $('related-products-field').value = values.join(',');
        }
    }
    //]]>
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.widget-products-related .owl-carousel').owlCarousel({
                pagination:false,
                autoPlay:5000,
                items:4,
                singleItem:false,
                lazyLoad:true,
                lazyEffect:false,
                addClassActive:true,
                navigation:true,
                navigationText: ['<div class="fs1" aria-hidden="true" data-icon="#"></div>','<div class="fs1" aria-hidden="true" data-icon="$"></div>'],
                afterInit: function(elem){
                    var that = this;
                    that.owlControls.prependTo(elem);
                }
            });
        });
    </script>-->



</div></div>

<!--<script type="text/javascript">
    var lifetime = 3600;
    var expireAt = Mage.Cookies.expires;
    if (lifetime > 0) {
        expireAt = new Date();
        expireAt.setTime(expireAt.getTime() + lifetime * 1000);
    }
    Mage.Cookies.set('external_no_cache', 1, expireAt);
</script>-->






                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--// CLOSE MAIN CONTAINER //-->


{% endblock %}
