{% extends 'AppBundle::base.html.twig' %}

{% block javascript_include %}{{ jsinit(['deposit']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main deposit">

      <!--<p>
        <img src="{{ asset('images/category-choice.jpg')}}" alt="Choix de la catégorie">
      </p>-->

      <div class="row">
        <div class="col-md-8 col-center-block">

          {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
              {{ flash_message }}
            </div>
          {% endfor %}

          <img src="{{ jpegoptim('bundles/deposit/images/living_room.jpg', { 'output' : 'images/living_room.jpg'})}}"
               alt="Choix de la catégorie" style="width: 100%">

          <h2 class="title-widget"><span>Choisissez une catégorie</span></h2>

          <form method="post" action="{{ path('deposit_postcategory') }}" id="category-form">
            <div class="category-choices">
              <div class="row">
                {% for category in categories %}
                  <div class="col-sm-3">
                    <label class="category-choice">
                      <span>{{ category.name }}</span>
                      <input data-id="{{ category.id }}" name="main_categ" type="radio">
                    </label>
                  </div>
                {% endfor %}
              </div>
              <label id="main-categ-error" class="error">Veuillez sélectionner une catégorie.</label>
            </div>

            <div class="box-subcategories-select">
              <label for="subcategories-select" class="sr-only"></label>
              <select id="subcategories-select" name="category_id"></select>
              <label id="sub-categ-error" class="error">Veuillez sélectionner une sous-catégorie.</label>
            </div>

            <div class="text-center">
              <input type="submit" class="btn btn-default" value="Etape suivante" />
            </div>

          </form>

        </div><!-- col -->
      </div><!-- .row -->

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
