{% extends 'AppBundle::base.html.twig' %}

{% block title %}Choix de la description{% endblock %}
{% block description %}Dépôt d'annonce - Description{% endblock %}

{% block javascript_include %}{{ jsinit(['deposit']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main deposit">

      <div class="deposit-steps row">
        <div class="col-sm-3">
          <div class="deposit-step">Photos</div>
        </div>
        <div class="col-sm-3">
          <div class="deposit-step active">Description</div>
        </div>
        <div class="col-sm-3">
          <div class="deposit-step">Prix</div>
        </div>
        <div class="col-sm-3">
          <div class="deposit-step">Livraison</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-center-block">
          {% for flash_message in app.session.flashBag.get('error') %}
            {% for error in flash_message %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
          {% endfor %}

          <form method="post" action="{{ path('deposit_postdescription') }}" id="description-form">
            <div class="form-group">
              <label class="required">Titre</label>
              <input type="text" name="name" class="form-control" placeholder="Rédiger le titre de votre produit" value="{% if app.session.get('deposit').name %}{{ app.session.get('deposit').name }}{% endif %}">
            </div>
            <div class="form-group">
              <label class="required">Description</label>
              <textarea name="description" class="form-control" rows="3" placeholder="Expliquer l'histoire de votre produit, son état, pourquoi vous vous en séparez ?">{% if app.session.get('deposit').description %}{{ app.session.get('deposit').description }}{% endif %}</textarea>
            </div>

            {% for customField in customFields %}
              {{ customField|raw }}
            {% endfor %}

            <div class="text-center">
              <input type="submit" class="btn btn-default" value="Etape suivante" />
            </div>

          </form>
        </div><!-- col -->
      </div><!-- .row -->

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
