{% extends 'AppBundle::base.html.twig' %}

{% block javascript_include %}{{ jsinit(['deposit']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main deposit">

      <div class="page-steps row">
        <div class="col-sm-3">
          <div class="page-step">Photos</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step">Description</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step active">Prix</div>
        </div>
        <div class="col-sm-3">
          <div class="page-step">Livraison</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-center-block">
          {% for flash_message in app.session.flashBag.get('error') %}
            {% for error in flash_message %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
          {% endfor %}

          <form method="post" action="{{ path('deposit_postprice') }}" id="price-form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="required">Prix de vente</label>
                  <input type="number" name="price" id="product-price" class="form-control" min="1" placeholder="Prix de vente sur le site" value="{% if app.session.get('deposit').price is defined %}{{ app.session.get('deposit').price }}{% endif %}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>
                    Prix du produit neuf
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                       title="Indiquez le prix d'origine du produit si vous le connaissez"></i>
                  </label>
                  <input type="number" name="original_price" class="form-control" min="1" placeholder="Indiquez le prix d'achat" value="{% if app.session.get('deposit').original_price is defined %}{{ app.session.get('deposit').original_price }}{% endif %}">
                </div>
              </div>
            </div>

            <div class="text-center">
              <p>Pour une vente classique, Unik Place prend une commission de:</p>
              <ul>
                {% for fee_rate in fee_rates %}
                {% if loop.first and fee_rates[loop.index] is defined %}
                <li>{{ fee_rate.rate }}% si montant du produit en vente inférieur ou égal à {{ fee_rates[loop.index].min -1 }}€</li>
                {% elseif loop.last %}
                <li>{{ fee_rate.rate }}% si montant du produit supérieur à {{ fee_rate.min }}€</li>
                {% else %}
                <li>{{ fee_rate.rate }}% entre {{ fee_rate.min }} et {{ fee_rates[loop.index].min -1 }}€</li>
                {% endif %}
                {% endfor %}
              </ul>
              <br />
              Montant reversé une fois votre produit vendu
              <div class="valued-amount" data-fee="{{ fixed_fee }}" data-rates="{{ fee_rates|json_encode() }}">0,00 €</div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="allow_offer" value="1" {% if app.session.get('deposit').allow_offer is not defined or (app.session.get('deposit').allow_offer is defined and app.session.get('deposit').allow_offer == '1') %}checked{% endif %}> J'accepte la négociation du prix de l'article
                </label>
              </div>
            </div>

            <div class="text-center">
              <input type="submit" class="btn btn-default" value="Etape suivante" />
            </div>
          </form>
        </div><!-- col -->
      </div><!-- .row -->

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
