{% extends 'AppBundle::base.html.twig' %}

{% block javascript_include %}{{ jsinit(['deposit', 'addAddress']) }}{% endblock javascript_include %}

{% block body %}
  <div class="main-wrapper">
    <div class="container">
      <div class="main deposit">

        <div class="page-steps row">
          <div class="col-sm-3">
            <div class="page-step">Photos</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step">Description</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step">Prix</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step active">Livraison</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-center-block">
            {% for notice in app.session.flashBag.get('notice') %}
              <div class="alert alert-success">
                {{ notice }}<br/>
              </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
              <div class="alert alert-danger">
                {% for error in flash_message %}
                  {{ error }}<br/>
                {% endfor %}
              </div>
            {% endfor %}

            <form method="post" action="{{ path('deposit_postshipping') }}" id="shipping-form">


              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Largeur en cm</label>
                    <input type="number" name="width" id="product-width" class="form-control" min="1"
                           placeholder="Largeur du produit en cm" value="{{ shippingFormData.width is defined ? shippingFormData.width : app.request.get('width') }}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Longueur en cm</label>
                    <input type="number" name="length" id="product-length" class="form-control" min="1"
                           placeholder="Longueur du produit en cm" value="{{ shippingFormData.length is defined ? shippingFormData.length : app.request.get('length') }}">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Hauteur en cm</label>
                    <input type="number" name="height" id="product-height" class="form-control" min="1"
                           placeholder="Hauteur du produit en cm" value="{{ shippingFormData.height is defined ? shippingFormData.height : app.request.get('height') }}">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Poids en kg</label>
                    <input type="number" name="weight" id="product-weight" class="form-control" min="1"
                           placeholder="Poids du produit en kg" value="{{ shippingFormData.weight is defined ? shippingFormData.weight : app.request.get('weight') }}">
                  </div>
                </div>
              </div>

              <br/>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">

                    <p>
                      <a href="#" data-toggle="modal" data-target="#shippingModal">
                        <strong>Informations : </strong>Vous avez la possibilité de choisir votre propre transporteur
                        et de renseigner un tarif de livraison. Nous vous suggérons les transporteurs suivants :
                        UPS, FEDEX, DHL, Geodis, GLS, Mesenvois.fr, EnvoiMoinsCher.com
                      </a>
                    </p>

                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">

                        <label>Mes frais de port en France métropolitaine <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Si vous renseignez ces frais de port, ils seront proposés à l'acheteur ainsi que les autres modes de livraison de nos partenaires."></i></label>
                        <input class="form-control" type="number" name="shipping_fees" placeholder="Montant en euros" value="{{ shippingFormData.shipping_fees is defined ? shippingFormData.shipping_fees : '' }}">
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="text-center">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="by_hand" value="1"
                           {% if app.session.get('deposit').by_hand is not defined or (app.session.get('deposit').by_hand is defined and app.session.get('deposit').by_hand == '1') %}{% if shippingFormData.by_hand_unselected is not defined and shippingFormData is not empty %}checked{% endif %}{% endif %}>
                    J'accepte la remise en main propre
                  </label>
                </div>
              </div>

              <p>Merci de sélectionner une adresse de livraison parmis vos adresses enregistrées. Nous supportons
                actuellement uniquement la livraison en France métropolitaine.</p>
              <p>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addAddressModal">
                  Ajouter une adresse à mon compte
                </button>
              </p>

              {% if addresses|length > 0 %}
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="address_id" class="sr-only"></label>
                      <select name="address_id" class="form-control" id="address_id">
                        {% for address in addresses %}
                          <option value="{{ address.id }}">{{ address.name }}
                            - {{ address.street }}{% if address.additional %} - {{ address.additional }}{% endif %} {{ address.getCity.zipcode }} {{ address.getCity.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              {% endif %}

              <div class="text-center">
              {% if addresses|length > 0 %}
                <input type="submit" class="btn btn-default" value="Etape suivante"/>
              {% else %}
                <p>Merci d'ajouter une adresse pour passer à l'étape suivante.</p>
              {% endif %}
              </div>

            </form>
          </div><!-- col -->
        </div><!-- .row -->

      </div><!-- .main -->
    </div><!-- .container -->
  </div><!-- .main-wrapper -->

  <!-- Add address Modal -->
  <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAddressModalTitle">Ajouter une adresse à mon compte</h4>
        </div>
        {{ form_start(addAddressForm, {'action': path('deposit_postshipping'), 'attr': {'id': 'add-address-form'}}) }}
        <div class="modal-body">
          {{ form_row(addAddressForm.name) }}
          {{ form_row(addAddressForm.street) }}
          {{ form_row(addAddressForm.additional) }}
          <div class="form-group">
            <label class="control-label required" for="address_city">Ville</label>
            <select id="address_city" name="address[city]" required="required"
                    class="select-select2 autocomplete-city form-control">
              <option value="">Sélectionnez un code postal</option>
            </select>
          </div>
          <div class="form-group">
            <label class="required">
              Téléphone
              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                 title="Votre numéro de téléphone sera transmis à l'acheteur si vous avez activé la remise en
               main propre et qu'il choisit cette option."></i>
            </label>
            <input type="text" name="phone" class="form-control" placeholder="Numéro de téléphone">
          </div>
          {{ form_row(addAddressForm.country) }}
          <input type="hidden" name="shipping-form-data" id="shipping-form-data" value="" />
        </div>
        <div class="modal-footer">
          {{ form_widget(addAddressForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(addAddressForm) }}
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="shippingModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Informations sur la livraison</h4>
        </div>
        <div class="modal-body">
          <p>Si vous renseignez vos frais de port, vous pourrez choisir le transporteur de votre choix pour la
            livraison du produit.</p>
          <p>Si vous ne renseignez pas de frais de port, nous appliquerons
            <a target="_blank"
               href="http://www.colissimo.fr/particuliers/envoyer_un_colis/decouvrir_loffre_colissimo/Tarifs_colissimo/att00002941/2016-05_Reseau_TarifsGP_PDF_FranceMetro.pdf">
              les tarifs en vigueur de colissimo</a>
            suivant le poid et les dimensions de votre produit.</p>
          <p>Les frais de port seront à la charge de l'acheteur et vous seront intégralement remboursés
            après la réception du produit par celui-ci.</p>
          <p>Vous pouvez choisir un transporteur depuis les sites suivants: <a href="http://www.mesenvois.fr/" target="_blank">Mesenvois.fr</a> ou <a href="http://www.envoimoinscher.com/" target="_blank">EnvoiMoinsCher.com</a>.</p>
          <p>Vous pouvez également proposer la remise en main propre. Dans ce cas, il n'y a pas de frais de
            livraison.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
