{% extends 'AppBundle::base.html.twig' %}

{% block javascript_include %}
  <script src="//maps.google.com/maps/api/js?signed_in=true&libraries=places&language=fr-FR&key=AIzaSyAL1vLUAUrxtm8Rrbzh4bRPJwrjfCf7Ycw" type="text/javascript"></script>
  {{ jsinit(['deposit', 'addAddress']) }}
{% endblock javascript_include %}

{% block body %}
  <div class="main-wrapper">
    <div class="container">
      <div class="main deposit">

        <div class="page-steps row">
          <div class="col-sm-3">
            <div class="page-step">Photos</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step">Description</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step">Prix</div>
          </div>
          <div class="col-sm-3">
            <div class="page-step active">Livraison</div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-center-block">
            {% for notice in app.session.flashBag.get('notice') %}
              <div class="alert alert-success">
                {{ notice }}<br/>
              </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
              <div class="alert alert-danger">
                {% for error in flash_message %}
                  {{ error }}<br/>
                {% endfor %}
              </div>
            {% endfor %}

            <form method="post" action="{{ path('deposit_postshipping') }}" id="shipping-form">

              <h4>1 - Je sélectionne mon adresse d'expédition </h4>

              {% if addresses|length > 0 %}
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="address_id" class="sr-only"></label>
                      <select name="address_id" class="form-control" id="address_id">
                        {% for address in addresses %}
                          <option value="{{ address.id }}">{{ address }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              {% endif %}

              <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addAddressModal">
                Ajouter une adresse à mon compte
              </button>


              <h4 style="margin-top: 40px;">2 - Mon colis</h4>


              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Largeur du colis en cm</label>
                    <input type="number" name="parcel_width" id="product-width" class="form-control" min="1"
                           placeholder="Largeur du colis en cm" value="{{ app.session.get('deposit').width }}">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Longueur du colis en cm</label>
                    <input type="number" name="parcel_length" id="product-length" class="form-control" min="1"
                           placeholder="Longueur du colis en cm" value="{{ app.session.get('deposit').length }}">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Hauteur du colis en cm</label>
                    <input type="number" name="parcel_height" id="product-height" class="form-control" min="1"
                           placeholder="Hauteur du colis en cm" value="{{ app.session.get('deposit').height }}">
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="required">Type de colis</label>
                    <select name="parcel_type" id="parcel_type" class="form-control">
                      <option value="box" selected>Colis</option>
                      <option value="bulky">Encombrant</option>
                      <option value="pallet">Palette</option>
                    </select>
                  </div>
                </div>
              </div>


              <h4 style="margin-top: 40px;">2 - Je sélectionne mes modes de livraison </h4>


              <table class="table table-delivery">
                <tr>
                  <td class="choice">
                    <input type="checkbox" name="deliveryMode[]" id="delivery_by_hand" value="by_hand" />
                  </td>
                  <td class="name">Le retrait au domicile</td>
                  <td class="description">
                    L'acheteur se déplace chez vous ou vous convenez d'un rendez-vous dans un lieu public avec lui pour la remise du produit.
                  </td>
                </tr>

                <tr>
                  <td class="choice">
                    <input type="checkbox" name="deliveryMode[]" id="delivery_custom_seller" value="custom_seller"/>
                  </td>
                  <td class="name">Mon propre transporteur</td>
                  <td class="description">
                    Vous avez pour habitude de passer par un transporteur pour livrer vos produits en France métropolitaine.<br />
                    Définissez vous-même le prix du transport applicable à votre produit.

                    <div class="row">

                      <div class="col-md-8 col-md-offset-2 input-delivery-shipping-fees text-center form-group" style="display: none;">
                        <br /><br />
                        <label for="shipping_fees">Vos frais de livraison</label>
                        <input type="text" name="shipping_fees" id="shipping_fees" class="form-control" />
                      </div>

                    </div>

                  </td>
                </tr>

                <tr>
                  <td class="choice">
                    <input type="checkbox" name="deliveryMode[]" id="delivery_by_hand" value="carrier_unik" />
                  </td>
                  <td class="name">Je souhaite vendre en France<br /> et à l'international</td>
                  <td class="description">
                    Notre service de livraison permet de proposer aux acheteurs le meilleur choix de transporteurs nationaux et internationaux.<br />
                    Le service est intégralement pris en charge par Unik Place.<br /><br />
                    <b>Un seul engagement de votre part :</b> être disponible sur le créneau horaire de votre choix dans les 48 heures qui suivent la validation de la commande pour l’enlèvement ou le dépôt de votre colis (Colissimo ou Chronopost).
                    <br />Dans le cas de l’enlèvement du produit à votre adresse, c’est vous qui choisissez votre créneau horaire. La qualité et rapidité de la livraison est importante pour votre notoriété car une fois le colis réceptionné, l’acheteur vous évaluera.
                  </td>
                </tr>
              </table>
              <div class="error-delivery text-center"></div>

              <br /><br />

              <div class="text-center">
              {% if addresses|length > 0 %}
                <input type="submit" class="btn btn-default" value="Valider mon produit"/>
              {% else %}
                <p>Merci d'ajouter une adresse pour passer à l'étape suivante.</p>
              {% endif %}
              </div>

            </form>
          </div><!-- col -->
        </div><!-- .row -->

      </div><!-- .main -->
    </div><!-- .container -->
  </div><!-- .main-wrapper -->

  <!-- Add address Modal -->

  {% include 'UserBundle:Account:FormAddress.html.twig' with { 'addAddressForm' : addAddressForm} %}

  <div class="modal fade" tabindex="-1" role="dialog" id="shippingModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Informations sur la livraison</h4>
        </div>
        <div class="modal-body">
          <p>Si vous renseignez vos frais de port, vous pourrez choisir le transporteur de votre choix pour la
            livraison du produit.</p>
          <p>Si vous ne renseignez pas de frais de port, nous appliquerons
            <a target="_blank"
               href="http://www.colissimo.fr/particuliers/envoyer_un_colis/decouvrir_loffre_colissimo/Tarifs_colissimo/att00002941/2016-05_Reseau_TarifsGP_PDF_FranceMetro.pdf">
              les tarifs en vigueur de colissimo</a>
            suivant le poid et les dimensions de votre produit.</p>
          <p>Les frais de port seront à la charge de l'acheteur et vous seront intégralement remboursés
            après la réception du produit par celui-ci.</p>
          <p>Vous pouvez choisir un transporteur depuis les sites suivants: <a href="http://www.mesenvois.fr/" target="_blank">Mesenvois.fr</a> ou <a href="http://www.envoimoinscher.com/" target="_blank">EnvoiMoinsCher.com</a>.</p>
          <p>Vous pouvez également proposer la remise en main propre. Dans ce cas, il n'y a pas de frais de
            livraison.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
