<div class="form-group">
  <label class="{% if mandatory %}required{% endif %}" for="field-{{ id }}">{{ label }}</label>
  <input type="text" id="field-{{ id }}" name="attribute-{{ id }}" class="form-control attribute-field" placeholder="{{ label }} de votre produit" {% if mandatory %}data-required="true"{% endif %} data-minlength="3" data-maxlength="100" />
</div>