{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
  <div class="row">
    <div class="col-sm-3 sidebar">
      {% include "FOSUserBundle::profile_menu.html.twig" %}
    </div>
    <div class="col-sm-9">
      <h1>Mes Paramètres</h1>

      {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', 'id': 'profile-form' } }) }}
        <ul class="form-list">
          <li>
            <label class="required"><em>*</em>{{ 'form.email'|trans }}</label>
            <div class="input-box">
              {{ form_widget(form.email, {'attr': {'class': 'input-text'}}) }}
            </div>
          </li>
          <li>
            <label class="required"><em>*</em>{{ 'form.current_password'|trans }}</label>
            <div class="input-box">
              {{ form_widget(form.current_password, {'attr': {'class': 'input-text'}}) }}
            </div>
            {{ form_errors(form.current_password) }}
          </li>
          <li>
            <label class="required"><em>*</em>Prénom</label>
            <div class="input-box">
              {{ form_widget(form.firstname, {'attr': {'class': 'input-text'}}) }}
            </div>
            {{ form_errors(form.firstname) }}
          </li>
          <li>
            <label class="required"><em>*</em>Nom</label>
            <div class="input-box">
              {{ form_widget(form.lastname, {'attr': {'class': 'input-text'}}) }}
            </div>
            {{ form_errors(form.lastname) }}
          </li>
          <li>
            <label class="required"><em>*</em>Date de naissance</label>
            <div class="input-box">
              {{ form_widget(form.birthday, {'attr': {'class': 'input-birthday'}}) }}
            </div>
            {{ form_errors(form.birthday) }}
          </li>
          <li>
            <label class="required"><em>*</em>Nationalité</label>
            <div class="input-box">
              {{ form_widget(form.nationality, {'attr': {'class': 'input-text'}}) }}
            </div>
            {{ form_errors(form.nationality) }}
          </li>
          <li>
            <label class="required"><em>*</em>Pays de résidence</label>
            <div class="input-box">
              {{ form_widget(form.residential_country, {'attr': {'class': 'input-text'}}) }}
            </div>
            {{ form_errors(form.residential_country) }}
          </li>
        </ul>
        {% if app.user.getPro() %}
          <ul class="form-list pro-user-fields">
            <li>
              <label class="required"><em>*</em>SIRET de l'entreprise</label>
              <div class="input-box">
                {{ form_widget(form.company_code, {'attr': {'class': 'input-text'}}) }}
              </div>
              {{ form_errors(form.company_code) }}
            </li>
            <li>
              <label class="required"><em>*</em>Nom de l'entreprise</label>
              <div class="input-box">
                {{ form_widget(form.company_name, {'attr': {'class': 'input-text'}}) }}
              </div>
              {{ form_errors(form.company_name) }}
            </li>
            <li>
              <label class="required"><em>*</em>Adresse de l'entreprise</label>
              <div class="input-box">
                {{ form_widget(form.company_address, {'attr': {'class': 'input-text'}}) }}
              </div>
              {{ form_errors(form.company_address) }}
            </li>
            <li>
              <label class="required"><em>*</em>Code postal de l'entreprise</label>
              <div class="input-box">
                {{ form_widget(form.company_zipcode, {'attr': {'class': 'input-text'}}) }}
              </div>
              {{ form_errors(form.company_zipcode) }}
            </li>
            <li>
              <label class="required"><em>*</em>Ville de l'entreprise</label>
              <div class="input-box">
                {{ form_widget(form.company_city, {'attr': {'class': 'input-text'}}) }}
              </div>
              {{ form_errors(form.company_city) }}
            </li>
          </ul>
        {% endif %}

        <p>* Champs obligatoires</p>

        <p><input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}" /></p>

        {{ form_widget(form._token) }}
      {{ form_end(form, {'render_rest': false}) }}
    </div><!-- col -->
  </div><!-- .row -->
{% endblock %}