{% extends 'AppBundle::base.html.twig' %}

{% block title %}Dernières tendances de {{ category.name }}{% endblock %}

{% block description %}Tous les produits premium sont sur {{ siteName }}{% endblock %}

{% block body %}
  <div class="main-breadcrumbs">
    <div class="container">
      <div class="row show-grid">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <ul>
              <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a href="{{ path('homepage') }}" itemprop="url">Accueil</a>
                </span>
                <span class="separator">/</span>
              </li>
              <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                  <a href="{{ path('collections') }}" itemprop="url">Tendances</a>
                </span>
                <span class="separator">/</span>
              </li>
              <li><strong>{{ category.name }}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-wrapper">
    <div class="main">
      <div class="container">
        <div class="row show-grid">
          <div class="col-main">
            <div class="block-container" style="padding-top: 0;">
              <div class="col-xs-12" style="margin-top: 60px;">
                <h3 class="category-product title-widget">
                  <span>Les dernières tendances de {{ category.name }}</span>
                </h3>
                <div class="row">
                  {% for key, collection in collections if key < 5 %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                      <div class="banner_top">
                        <div class="overlay" style="padding-bottom: 0;">
                          <span class="button">
                            <a href="{{ path('collection', {'slug' : collection.slug}) }}">{{ collection.name }}</a>
                          </span>
                        </div>
                        <img class="img-responsive" alt="{{ collection.name }}"
                             src="{{ loadpic(collection.image, 500, 500, "f", "collections") }}"/>
                      </div>
                      {% set status = ['published', 'sold', 'unavailable'] %}
                      {% for product in collection.products if product.status.name in status %}
                        {% if loop.index0 < 3 %}
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="banner_top">
                              <a href="{{ path('product_details', {'id': product.id, 'slug' : product.slug}) }}">
                                <img class="img-responsive" alt="{{ product.name }}"
                                     src="{{ loadpic(product.images[0], 70, 70, "f", "products") }}"/>
                              </a>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
