<a href="#" id="notificationLink" title="Mes notifications" class="icon-header skip-link">
  <span class="total"><strong class="fa fa fa-bell" aria-hidden="true"></strong>{% if count > 0 %}<span class="count-numb">{{ count }}</span>{% endif %}</span>
</a>
<div id="notificationContainer" class="dropdown-menu">
  <div id="notificationTitle">Notifications</div>
  <div id="notificationsBody" class="notifications">
    {% for notification in notifications %}
      <div class="row-fluid notification clearfix {% if notification.read == false %}unactionned{% endif %}" data-href="{{ path('user_notification_request', { id: notification.id }) }}">
        <div class="col-xs-1">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="col-xs-11">
          {{ notification.message|raw }}<br />
          <div class="text-left date">{{ notification.createdAt|date('d/m/Y H:i') }}</div>
        </div>
      </div>
    {% else %}
    <div class="row-fluid notification clearfix text-center">Aucune notification</div>
    {% endfor %}
  </div>
  <div id="notificationFooter"><a href="{{ path('user_notification_list') }}" title="Voir toutes les notifications">Voir toutes les notifications</a></div>
</div>