{% extends 'UserBundle::base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block description %}{% endblock %}

{% block javascript_include %}{{ jsinit(['addAddress', 'addresses']) }}{% endblock javascript_include %}

{% block account_content %}
  <h2 class="page-title title-h2">Mes adresses</h2>
  {# flashbag #}
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ type }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addAddressModal">
    Ajouter une autre adresse à mon compte
  </button>

  {% if addresses|length() > 0 %}

    <table class="table table-addresses">
      <thead>
      <tr>
        <th>Nom Prénom</th>
        <th>Rue</th>
        <th>Ville</th>
        <th>Code postal</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for address in addresses %}
        <tr>
          <td>{{ address.name }}</td>
          <td>{{ address.street }}</td>
          <td>{{ address.city.name }}</td>
          <td>{{ address.city.zipcode }}</td>
          <td>
            {% set formated = "#{address.name} - #{address.street} #{address.city.zipcode} #{address.city.name}" %}
            <button class="btn btn-danger btn-xs" data-id="{{ address.id }}" data-name="{{ formated }}"
                    title="Supprimer mon adresse">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>

  {% else %}
    <p>Vous n'avez aucune adresse d'associée à votre compte pour le moment</p>
  {% endif %}
  <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalTitle">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAddressModalTitle">Ajouter une adresse à mon compte</h4>
        </div>
        {{ form_start(addAddressForm, {'attr': {'id': 'add-address-form'}}) }}
        <div class="modal-body">
          {{ form_row(addAddressForm.name) }}
          {{ form_row(addAddressForm.street) }}
          <div class="form-group">
            <label class="control-label required" for="address_city">Ville</label>
            <select id="address_city" name="address[city]" required="required"
                    class="select-select2 autocomplete-city form-control">
              <option value="">Sélectionnez un code postal</option>
            </select>
          </div>
          {{ form_row(addAddressForm.country) }}
        </div>
        <div class="modal-footer">
          {{ form_widget(addAddressForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(addAddressForm) }}
      </div>
    </div>
  </div>


{% endblock %}

