{% extends 'UserBundle::base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block description %}{% endblock %}

{% block javascript_include %}
  <script src="//maps.google.com/maps/api/js?signed_in=true&libraries=places&language=fr-FR&key=AIzaSyAL1vLUAUrxtm8Rrbzh4bRPJwrjfCf7Ycw" type="text/javascript"></script>
  {{ jsinit(['addAddress', 'addresses']) }}
{% endblock javascript_include %}

{% block account_content %}
  <h2 class="page-title title-h2">Mes adresses</h2>
  {# flashbag #}
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ type }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addAddressModal">
    Ajouter une adresse à mon compte
  </button>

  {% if addresses|length() > 0 %}
    <div class="table-responsive">
      <table class="table table-addresses">
        <thead>
        <tr>
          <th>Nom/Prénom</th>
          <th>Rue</th>
          <th>Ville</th>
          <th>Code postal</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
          <tr>
            <td>{{ address.firstname }}  {{ address.lastname }}</td>
            <td>{{ address.street }}{% if address.additional %} - {{ address.additional }}{% endif %}</td>
            <td>{{ address.city.name }}</td>
            <td>{{ address.city.zipcode }}</td>
            <td>
              <button class="btn btn-danger btn-xs" data-id="{{ address.id }}" data-name="{{ address }}"
                      title="Supprimer mon adresse">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div>

  {% else %}
    <p>Vous n'avez aucune adresse d'associée à votre compte pour le moment</p>
  {% endif %}


  {% include 'UserBundle:Account:FormAddress.html.twig' with { 'addAddressForm' : addAddressForm} %}
{% endblock %}

