{% extends "UserBundle::base.html.twig" %}

{% block title %}Commande n°{{ order.id }}{% endblock %}
{% block description %}Commande n°{{ order.id }} sur {{ siteName }}{% endblock %}
{% block mainClass %}order{% endblock %}


{% block javascript_include %}{{ jsinit(['DetailOrder']) }}{% endblock javascript_include %}

{% block account_content %}

  <h2>

    {% if sale %}Vente{% else %}Achat{% endif %} n°{{ order.id }}


    <div class="order-status">
      <span class="order-status-label">Statut :</span>
      {% if order.status == 'pending' %}
        <span class="label label-success">En attente de confirmation</span>
      {% endif %}
      {% if order.status == 'accepted' %}
        <span class="label label-success">Confirmé</span>
      {% endif %}
      {% if order.status == 'canceled' %}
        <span class="label label-danger">Annulé</span>
      {% endif %}
      {% if order.status == 'disputed' %}
        <span class="label label-success">Litige en cours</span>
      {% endif %}
      {% if order.status == 'done' %}
        <span class="label label-success">Terminé</span>
      {% endif %}
      {% if order.status == 'error' %}
        <span class="label label-danger">Erreur</span>
      {% endif %}
    </div>

  </h2>

  {% if order.status == 'pending' %}
    {% if sale %}

      <div class="order-summary">
        <h3 class="order-summary-title">Nouvelle commande</h3>
        <p>Une nouvelle commande vient d'être effectuée !<br />Il s'agit d'une commande concernant le produit suivant : <a href="{{ path('product_details', { id: order.product.id, slug: order.product.slug}) }}" target="_blank">{{ order.product.name }}</a></p>
        {% if order.delivery.deliveryMode.code == 'tracked_letter' or order.delivery.deliveryMode.code == 'parcel' %}
          <p>Les frais de port sont remboursés par {{ siteName }}.</p>
        {% endif %}
        <p>Tous les détails de la vente sont disponibles ci-dessous.</p>
      </div>

    {% else %}

      <div class="order-summary">
        <h3 class="order-summary-title">Merci pour votre commande</h3>
        <p><span class="text-danger">Vous ne serez pas débité tant que le vendeur n'aura pas accepté la vente.</span> Vous serez notifié par email.</p>
        {% if order.delivery.deliveryMode.code == 'by_hand' %}
          <p>Vous pouvez le contacter via le formulaire ci-dessous afin de convenir d'un lieu et d'une date pour la remise en main propre.</p>
        {% else %}
          <p>Vous pouvez le contacter via le formulaire ci-dessous pour toute question.</p>
        {% endif %}
      </div>

    {% endif %}
  {% elseif order.status == 'accepted' and sale == false%}
    <div class="order-summary">
      {% if order.delivery.deliveryMode.code == 'by_hand' %}
        <h3 class="order-summary-title">Le vendeur a accepté la vente</h3>
        <ol class="order-instructions">
          <li>Une fois la remise effectuée, cliquer sur le bouton ci-dessous pour confirmer directement la vente.</li>

        </ol>
      {% else %}
        <h3 class="order-summary-title">Le vendeur a accepté la vente</h3>
        <ol class="order-instructions">
          <li>La commande est en cours d'expédition ({{ order.delivery.deliveryMode.name }}). N'hésitez pas à lui poser des questions via le formulaire ci-dessous.</li>
          <li>Il doit vous informer de l'état de la commande.</li>
        </ol>
      {% endif %}
    </div>
  {% elseif order.status == 'accepted' and sale == true%}
    <div class="order-summary">
      <h3 class="order-summary-title">Commande confirmée</h3>
      {% if order.delivery.deliveryMode.code == 'by_hand' %}
        <ol class="order-instructions">
          <li>Convenez rapidement d'un rendez-vous avec l'acheteur.</li>
          <li>Vous recevrez le paiement de votre vente une fois que l'acheteur aura validé la remise du produit.</li>
        </ol>
      {% elseif order.delivery.deliveryMode.code == 'parcel' %}
        <ol class="order-instructions">
          <li>Préparez votre colis avec le produit commandé à l'intérieur.</li>
          <li>Au bureau de poste, demandez un envoi en colissimo à l'adresse suivante : <br />
            <address>
              {{ order.deliveryAddress.name }}<br />
              {{ order.deliveryAddress.street }}<br />
              {{ order.deliveryAddress.city.zipcode }} {{ order.deliveryAddress.city.name }} France
            </address>
            <strong>Conservez le numéro de suivi Colissimo</strong>. Les frais de port sont remboursés.</li>
          <li>Contactez l'acheteur via le formulaire ci-dessous pour l'informer de l'expédition.</li>
          <li>Une fois que l'acheteur confirmera la bonne reception du produit, votre paiement arrivera.</li>
        </ol>
      {% endif %}
    </div>
  {% elseif order.status == 'disputed' %}
    <div class="order-summary">
      <h3 class="order-summary-title">Litige actuellement en cours</h3>
      <p>L'équipe de {{ siteName }} va intervenir sous peu pour essayer de régler votre problème.</p>
    </div>
  {% elseif order.status == 'canceled' %}
    <div class="order-summary">
      <h3 class="order-summary-title">Commande annulée</h3>
      <p>Le vendeur a annulé cette commande.</p>
    </div>
  {% elseif order.status == 'done' %}
    <div class="order-summary">
      <h3 class="order-summary-title">Commande terminée</h3>
      <p>Cette commande est désormais terminée.</p>
    </div>
  {% elseif order.status == 'error' %}
    <div class="order-summary">
      <h3 class="order-summary-title">Commande bloquée</h3>
      La commande est bloquée suite à une erreur technique.
      <p><a target="_blank" href="{{path('contact')}}">Contacter {{ siteName }}</a> </p>
    </div>
  {% endif %}


  <div class="row">
    <div class="col-sm-6">
      <div class="box-order-infos">
        <div class="order-infos-head">
          <strong>A propos de {% if sale %}la vente{% else %}l'achat{% endif %}</strong>
        </div>
        <div class="order-infos-body">
          <ul>
            <li>
                <span>Produit</span><a href="{{ path('product_details', { id: order.product.id, slug: order.product.slug}) }}" target="_blank">{{ order.product.name }}</a>
            </li>
            <li><span>Prix</span>{{ order.amount|number_format(2, '.', ' ') }} €</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="box-order-infos">
        <div class="order-infos-head">
          <strong>A propos de l'envoi</strong>
        </div>
        <div class="order-infos-body">
          <ul>
            <li>
              <span>Type</span>{{ order.delivery.deliveryMode.name }}
            </li>
              {% if order.deliveryAddress is defined %}
              <li>
                <span>Livraison</span>{{ order.deliveryAddress.name }} - {{ order.deliveryAddress.street }} {{ order.deliveryAddress.city }}
              </li>
              {% endif %}

          </ul>

        </div>
      </div>
    </div>
  </div>

  {% if order.status == 'pending' and sale %}
    <div class="order-summary">
      <form method="post">
        <a class="btn btn-primary" data-toggle="modal" data-target="#confirm-sell">Je confirme</a>
        <input type="hidden" name="action" value="canceledOrder" />
        <input class="btn btn-link btn-confirm-link" type="submit" value="J'annule la vente" data-message="Êtes-vous bien certain de vouloir annuler la vente de votre produit ?" data-button="Je confirme l'annulation de la vente">
      </form>
    </div>
  {% endif %}

  {% if sale and order.status == 'pending' %}
    <div class="modal fade" id="confirm-sell" tabindex="-1" role="dialog" aria-labelledby="confirm-sell-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="confirm-sell-label">Confirmation de ma vente</h4>
          </div>
          <div class="modal-body">
            <p>Soyez bien certain d'avoir le produit en stock avant de confirmer la vente.</p>
           <form method="post" class="form-horizontal" id="confirm-sell-form">
              <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-4">
                  <input type="hidden" name="action" value="validateOrder" data-loading-text="Validation en cours..." />
                  <input class="btn btn-primary-outline" type="submit" name="validateOrder" value="Je valide ma vente" data-loading-text="Validation en cours..." />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if sale == false and order.status == 'accepted' %}

    <div class="order-summary">
      <form method="post" style="display: inline;">
        <input type="hidden" name="action" value="doneOrder" />
        <input type="submit"  class="btn btn-primary-outline btn-confirm-link" data-message="Ne confirmez la vente que si vous avez bien reçu et vérifié l'état du produit." value="J'ai reçu mon produit et je confirme la vente">

        <button type="button" name="dispute" class="btn btn-primary-outline"  data-toggle="modal" data-target="#dispute">{% if order.status =="accepted" %}Ouvrir un litige{% else %}Fermer le litige{% endif %}</button>

      </form>
    </div>

  {% endif %}

  {% if sale == false and order.status == 'disputed' %}
    <div class="order-summary">
      <button type="button" name="dispute" class="btn btn-primary" data-toggle="modal" data-target="#dispute">{% if order.status =="accepted" %}Ouvrir un litige{% else %}Fermer le litige{% endif %}</button>
    </div>
  {% endif %}

  {% if formRating %}
    <div class="order-summary">
        <div style="margin: 15px 0;">
          <button type="button" name="rating-btn" class="btn btn-primary"  data-toggle="modal" data-target="#rating">Evaluer {% if sale %}l'acheteur{% else %}le vendeur{% endif %}</button>
        </div>
    </div>
  {% endif %}


  <h2>Discussion avec {% if sale %}l'acheteur{% else %}le vendeur{% endif %}</h2>
  {% if thread %}

    <div class="message">

      {% for message in thread.messages %}
        <div class="row">
          <div class="messenger_thread_message {% if message.sender == app.user %}col-md-9 col-md-offset-3 user{% else %}col-md-9{% endif %}">
            <div class="messenger_thread_message_info">
              {% if message.sender == app.user %}De vous{% endif %}, le {{ message.createdAt|date('d/m/Y H:i') }}.
            </div>

            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
              {{ message.body|nl2br }}
            </div>
          </div>
        </div>
      {% endfor %}


      <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

      <form method="post">

        <div class="form-group">
          <label class="required">Message</label>
          {{ form_widget(formMessage.body, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(formMessage.body) }}
        </div>

        {{ form_rest(formMessage) }}
        <p><input class="btn btn-primary" value="Répondre" type="submit"></p>
      </form>
    </div>

  {% else %}

    {{ form_start(formMessage) }}

        <div class="form-group">
          {{ form_widget(formMessage.body, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(formMessage.body) }}
        </div>

      {{ form_rest(formMessage) }}
      <button type="submit" class="btn btn-primary">Envoyer</button>

    </form>

  {% endif %}

  {% if sale == false and (order.status == 'accepted' or order.status == 'disputed') %}
    <!-- Modal -->
    <div class="modal fade" id="dispute" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          {{ form_start(formMessage) }}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">{% if order.status =="accepted" %}Ouvrir un litige{% else %}Fermer le litige{% endif %}</h4>
            </div>
            <div class="modal-body">

            {% if order.status =="accepted" %}
              Après l'ouverture de votre litige, l'équipe de modération {{ siteName }} vous contactera pour trouver rapidement une solution.

              <input type="hidden" name="action" value="disputeOrder" />
            {% else %}

              Êtes-vous sûr de fermer le litige ?

              <input type="hidden" name="action" value="closeDisputeOrder" />
            {% endif %}
            </div>
            <div class="modal-footer">
              <button type="submit" name="dispute" class="btn btn-primary">{% if order.status =="accepted" %}Confirmer le litige{% else %}Fermer le litige{% endif %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  {% if formRating  %}
    <!-- Modal -->
    <div class="modal fade" id="rating" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         {{ form_start(formRating) }}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Qu'avez-vous pensé de votre commande avec le vendeur</h4>
            </div>
            <div class="modal-body">
              {{ form_row(formRating.rate) }}

              {{ form_row(formRating.message) }}
            </div>
            <div class="modal-footer">
              {{ form_widget(formRating.submit) }}
            </div>


            {{ form_rest(formRating) }}
          </form>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}