{% extends "UserBundle::base.html.twig" %}

{% block title %}Mes achats{% endblock %}
{% block description %}Mes achats sur Noname{% endblock %}


{% block account_content %}

  <h2>Mes achats</h2>

  <table class="table">

    <thead>
      <tr>
        <th>Nom du produit</th>
        <th>Montant</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>

      {% for order in orders %}
        <tr>
          <td>{{ order.product.name }}</td>
          <td>{{ order.amount }} {{ order.currency.code }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.createdAt|date('d/m/Y H:i') }}</td>
          <td></td>
        </tr>
      {% else %}

        <td colspan="5" class="text-center">Aucune commande</td>

      {% endfor %}

    </tbody>

  </table>

  {% if orders.getNbPages() > 1 %}
    {{ pagerfanta(orders, "twitter_bootstrap3_translated", pagerfanta_opts) }}
  {% endif %}
{% endblock %}