{% extends "UserBundle::base.html.twig" %}

{% block title %}Mes achats{% endblock %}
{% block description %}Mes achats sur {{ siteName }}{% endblock %}

{% block account_content %}

  <h2>Mes achats</h2>
  <div class="table-responsive">
    <table class="table table-products">

      <thead>
      <tr>
        <th colspan="2">Nom du produit</th>
        <th>Montant</th>
        <th>Livraison</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>

      {% for order in orders %}
        <tr>
          <td>
            {% set images = order.product.getImages() %}
            <img class="img-responsive" src="{% if images[0] is defined %}{{ loadpic(images[0], 50, 50) }}{% endif %}"
                 alt="{{ order.product.name }}"/>
          </td>
          <td class="title">
            {{ order.product.name }}
          </td>
          <td>{{ order.amount }} {% if order.currency.code|lower == 'eur' %}€{% endif %}</td>
          <td>
            {{ order.delivery.deliveryMode.name }}
            {% if order.delivery.deliveryMode.code != 'by_hand' %} <br/> Frais de port de
              <b>{{ order.delivery.fee }}</b>€{% endif %}
          </td>
          <td>
            {% if order.status == 'pending' %}
              <span class="label label-success">En attente de confirmation</span>
            {% endif %}
            {% if order.status == 'accepted' %}
              <span class="label label-success">Confirmé</span>
            {% endif %}
            {% if order.status == 'canceled' %}
              <span class="label label-danger">Annulé</span>
            {% endif %}
            {% if order.status == 'disputed' %}
              <span class="label label-success">Litige en cours</span>
            {% endif %}
            {% if order.status == 'done' %}
              <span class="label label-success">Terminé</span>
            {% endif %}
            {% if order.status == 'error' %}
              <span class="label label-danger">Erreur</span>
            {% endif %}
          </td>
          <td>{{ order.createdAt|date('d/m/Y H:i') }}</td>
          <td><a class="btn btn-primary btn-xs" href="{{ path('user_account_purchase', { id: order.id}) }}"><i
                      class="fa fa-eye"></i> Voir</a></td>
        </tr>
      {% else %}

        <td colspan="6" class="text-center">Aucune commande</td>

      {% endfor %}

      </tbody>

    </table>
  </div>
  {% if orders.getNbPages() > 1 %}
    {{ pagerfanta(orders, "twitter_bootstrap3_translated", pagerfanta_opts) }}
  {% endif %}
{% endblock %}