{% extends "UserBundle::base.html.twig" %}

{% block title %}Validation de votre identité bancaire{% endblock %}
{% block description %}Validation de votre identité bancaire{% endblock %}


{% block account_content %}

  <h2>Validation de votre identité bancaire</h2>

  <p>Vous avez effectué une ou plusieurs transaction(s) pour un montant de plus de 2500 € ou des retraits de plus de 1000€ depuis le site Unik Place durant cette année. Unik Place est légalement tenue de respecter les réglementations de l'Union européenne concernant le blanchiment d'argent, en collectant des informations auprès de ses utilisateurs lorsque ces derniers effectuent des paiements d'un montant supérieur à cette limite. Merci de bien vouloir nous fournir les informations demandées ci-après.</p>

  <p>Vous venez de procéder à une commande ? Pas de panique, le produit que vous venez de commander est en attente de confirmation de votre identité bancaire par notre organisme bancaire. Une fois les éléments transmis, le délai de validation est d'environ 48h.</p>

  <p>Pour toute question, n'hésitez pas à joindre notre service client sur le "chat" en ligne ou par téléphone au 01 84 17 76 12.</p>

  {% for flashMessage in app.session.flashbag.get('kyc_errors') %}
  <div class="alert alert-warning">{{ flashMessage }}</div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('kyc_success') %}
  <div class="alert alert-success">{{ flashMessage }}</div>
  {% endfor %}

  <div class="row">

    <div class="col-md-12">

      <table class="classifieds-table table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>

          {% for document in documents %}
          <tr>
            <td>{{ document.CreationDate|date('d/m/Y H:i') }}</td>
            <td>
              {% if document.Type == "IDENTITY_PROOF" %}
              Carte d'identité {% if app.user.getPro() == true %} de la personne légale{% endif %}
              {% elseif document.Type == "REGISTRATION_PROOF" %}
              Extrait KBIS
              {% elseif document.Type == "ARTICLES_OF_ASSOCIATION" %}
              Mémo de l'entreprise
              {% elseif document.Type == "SHAREHOLDER_DECLARATION" %}
              Déclaration d'actionnaire
              {% endif %}
            </td>
            <td>
              {% if document.Status == "CREATED" %}
              <span class="label label-primary">Créé</span>
              {% elseif document.Status == "VALIDATION_ASKED" %}
              <span class="label label-info">Demande de validation en cours</span>
              {% elseif document.Status == "VALIDATED" %}
              <span class="label label-success">Validé</span>
              {% elseif document.Status == "REFUSED" %}
              <span class="label label-danger">Refusé</span>
              {% endif %}
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3" class="text-center">Aucun document transmis</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

  </div>

  {% if documents is empty %}
  {{ form_errors(form) }}
  {{ form(form) }}
  {% endif %}

{% endblock %}
