{% extends "UserBundle::base.html.twig" %}

{% block title %}Validation de votre identité bancaire{% endblock %}
{% block description %}Validation de votre identité bancaire{% endblock %}


{% block account_content %}

  <h2>Validation de votre identité bancaire</h2>

  <p>Afin de lutter contre la fraude, la loi nous impose de valider votre identité bancaire. Vous devez nous fournir plusieurs informations.</p>

  {% for flashMessage in app.session.flashbag.get('kyc_errors') %}
  <div class="alert alert-warning">{{ flashMessage }}</div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('kyc_success') %}
  <div class="alert alert-success">{{ flashMessage }}</div>
  {% endfor %}

  <div class="row">

    <div class="col-md-12">

      <table class="classifieds-table table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>

          {% for document in documents %}
          <tr>
            <td>{{ document.CreationDate|date('d/m/Y H:i') }}</td>
            <td>
              {% if document.Type == "IDENTITY_PROOF" %}
              Carte d'identité {% if app.user.getPro() == true %} de la personne légale{% endif %}
              {% elseif document.Type == "REGISTRATION_PROOF" %}
              Extrait KBIS
              {% elseif document.Type == "ARTICLES_OF_ASSOCIATION" %}
              Mémo de l'entreprise
              {% elseif document.Type == "SHAREHOLDER_DECLARATION" %}
              Déclaration d'actionnaire
              {% endif %}
            </td>
            <td>
              {% if document.Status == "CREATED" %}
              <span class="label label-primary">Créé</span>
              {% elseif document.Status == "VALIDATION_ASKED" %}
              <span class="label label-info">Demande de validation en cours</span>
              {% elseif document.Status == "VALIDATED" %}
              <span class="label label-success">Validé</span>
              {% elseif document.Status == "REFUSED" %}
              <span class="label label-danger">Refusé</span>
              {% endif %}
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="3" class="text-center">Aucun document transmis</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

  </div>

  {% if documents is empty %}
  {{ form_errors(form) }}
  {{ form(form) }}
  {% endif %}

{% endblock %}
