{% for idx, category in categories %}
    <li>
        <a href="{{ path('category', {path: category.getPath()}) }}" class="parent">
            <span>{{ category.GetName }}</span>
        </a>
        <div class="super-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="title">Catégories</div>
                        <ul>
                            {% for cat in category.children %}
                                <li><a href="{{ path('category', {path: cat.getPath()}) }}">{{ cat.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        {% if designers[category.id] is defined %}
                            <div class="title">Designers</div>
                            <ul>
                                {% for id, designer in designers[category.id] %}
                                    <li><a href="{{ path('search', {'cat': category.id, 'designer' : id}) }}">{{ designer|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        {% if styles[category.id] is defined %}
                            <div class="title">Styles</div>
                            <ul>
                                {% for id, style in styles[category.id] %}
                                    <li><a href="{{ path('search', {'cat': category.id, 'style' : id}) }}">{{ style|capitalize }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-md-3">
                        <img class="image-super-menu" src="{{ asset('bundles/app/images/category/cat-' ~ category.id ~ '.jpg') }}"/>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
