{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <div class="container faq">

    <div class="row">

      <div class="col-md-9">

        <h1>Foire aux questions</h1>

        <h2>Premier pas sur le site</h2>

        <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#case-1" aria-expanded="true" aria-controls="case-1">
                  Qui peut s’inscrire ?
                </a>
              </div>
            </div>
            <div id="case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
              <div class="panel-body">
                <p>Tout le monde ! Unik Place accueille la mise en vente de produits de particuliers et de professionnels.</p>
                <p>Néanmoins, il faut être majeur pour pouvoir mettre en vente un produit sur le site.</p>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#case-2" aria-expanded="true" aria-controls="case-2">
                  Unik Place est-il exclusivement réservé aux résidents français ?
                </a>
              </div>
            </div>
            <div id="case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
              <div class="panel-body">
                p>Oui, pour le moment en tout cas. Unik Place propose des produits en vente d’utilisateurs venant de la France
                métropolitaine ainsi que la Guadeloupe, la Martinique, la Guyane, la Réunion et Mayotte.</p>
                <p>Le site Unik Place s’étendra prochainement vers l’international pour l’achat et la vente des meubles et des
                  objets d’occasion.</p>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#case-3" aria-expanded="true" aria-controls="case-3">
                  Comment s’inscrire sur Unik Place ?
                </a>
              </div>
            </div>
            <div id="case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
              <div class="panel-body">
                <p>Pour s’inscrire sur Unik Place (si vous n’avez toujours pas de compte), rien de plus simple, il vous suffit de
                  suivre les étapes suivantes :</p>
                <ul>
                  <li>Cliquez sur “<a href="{{ path('fos_user_registration_register') }}">S’inscrire</a>“ dans le menu en haut de
                    votre écran
                  </li>
                  <li>Saisissez les champs demandés et cliquez sur le bouton s’inscrire pour faire partie de notre communauté de
                    passionnés.
                  </li>
                  <li>Vérifiez vos emails pour valider votre compte, et le tour est joué ! C’est terminé, vous pouvez acheter et
                    vendre sur notre plateforme.
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-4">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#case-4" aria-expanded="true" aria-controls="case-4">
                  Comment passer une annonce sur le site Unik Place ?
                </a>
              </div>
            </div>
            <div id="case-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
              <div class="panel-body">
                <p>Pour déposer gratuitement une annonce sur Unik Place, il vous suffit de cliquer sur le bouton “Vendre”, et
                  de suivre les instructions demandées sur le formulaire de dépôt.</p>
                <p>Par contre, il est impératif de vous connecter ou de vous créer un compte pour pouvoir vendre sur le site.
                  Le dépôt d’annonce se déroule en 5 étapes :</p>
                <ul>
                  <li>Choisissez la catégorie de votre produit que vous souhaitez mettre en vente</li>
                  <li>Ajoutez vos photos</li>
                  <li>Complétez la description de votre produit via notre formulaire</li>
                  <li>Mettez un prix à votre produit.</li>
                  <li>Sélectionnez votre mode de livraison souhaitée</li>
                </ul>
                <p>
                  Une fois effectué, votre produit et vos photos seront retravaillés par nos équipes pour mettre en avant votre
                  produit et vous permettre de le vendre le plus rapidement possible.
                </p>
              </div>
            </div>
          </div>
        </div>



        <h2>Mon compte</h2>

        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-2-heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-case-1" aria-expanded="true" aria-controls="accordion-2-case-1">
                  Comment consulter mon compte ?
                </a>
              </div>
            </div>
            <div id="accordion-2-case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-heading-1">
              <div class="panel-body">
                <p>Afin de consulter votre compte, vous devez dans un premier temps vous connecter sur le site grâce à votre
                  adresse email et votre mot de passe.</p>
                <p>Si vous ne disposez pas de compte, alors il faut vous inscrire sur le site.
                  Une fois connecté, vous pouvez accéder à votre compte en cliquant sur « mon compte ». Puis, vous pourrez
                  consulter et gérer l’ensemble de ces onglets :</p>
                <ul>
                  <li>Mes produits : tous vos produits en vente sur Unik Place</li>
                  <li>Mon compte : toutes les informations relatives à votre compte</li>
                  <li>Mes transactions : tous vos achats et vos ventes sur le site</li>
                  <li>Mes notifications : toutes les nouvelles actions que vous devez effectuer</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-2-heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-case-2" aria-expanded="true" aria-controls="accordion-2-case-2">
                  Comment changer mon adresse mail ?
                </a>
              </div>
            </div>
            <div id="accordion-2-case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-heading-2">
              <div class="panel-body">

                <p>Pour changer votre adresse mail vous permettant de recevoir toutes les informations concernant vos produits,
                  vos messages, vos achats et vos ventes sur le site. Vous devez dans un premier temps vous connecter à votre
                  compte Unik Place, puis de vous rendre sur l’onglet “Mon compte”. Il vous suffit ensuite de rentrer votre
                  nouvelle adresse mail et de cliquer sur le bouton “Modifier mon adresse mail”</p>
                <p>Un email de confirmation attestera que votre modification a bien été prise en compte.</p>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-2-heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-case-3" aria-expanded="true" aria-controls="accordion-2-case-3">
                  Je n'arrive pas à me connecter sur le site
                </a>
              </div>
            </div>
            <div id="accordion-2-case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-heading-3">
              <div class="panel-body">

                <p>Vous n’arrivez pas à vous connecter à votre compte ? Vérifiez bien que votre adresse email est bien écrite et
                  réessayez de renseigner votre mot de passe.</p>
                <p>Si vous avez oublié votre mot de passe, vous pouvez cliquer sur
                  “<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>” pour réinitialiser votre mot de
                  passe</p>
                <p>En cas de problèmes autres, n’hésitez pas à <a href="{{ path('contact') }}">nous contacter</a> .</p>


              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-2-heading-4">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-case-4" aria-expanded="true" aria-controls="accordion-2-case-4">
                  Comment compléter/modifier mon profil ?
                </a>
              </div>
            </div>
            <div id="accordion-2-case-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-heading-4">
              <div class="panel-body">

                <p>Pour compléter ou modifier votre compte Unik Place, rendez-vous sur votre profil (dans l’espace “Mon
                  compte”).<br/>
                  Vous pourrez y changer votre adresse mail, votre mot de passe et ajouter ou modifier votre avatar, mais
                  aussi renseigner vos adresses de livraison pour l’achat ou le retrait au domicile de vos articles en vente.</p>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-2-heading-5">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-2" href="#accordion-2-case-5" aria-expanded="true" aria-controls="accordion-2-case-5">
                  Comment supprimer mon compte Unik Place ?
                </a>
              </div>
            </div>
            <div id="accordion-2-case-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-2-heading-5">
              <div class="panel-body">

                <p>Vous avez la possibilité de supprimer votre compte à tous moment de Unik Place en vous rendant sur votre profil
                  (dans l’espace “Mon compte”), une fois connecté sur le site.<br/>
                  Un bouton en bas de la page “Supprimer mon compte” vous permettra de supprimer définitivement votre compte et
                  vos produits en vente.</p>
                <p>
                  Vous pourrez cependant recréer un nouveau compte sur Unik Place afin de consulter et
                  <a href="{{ path('sell_category') }}">déposer</a> de nouveaux articles en vente. Cependant, vos anciens
                  produits en vente ne seront pas sauvegardés.
                </p>

              </div>
            </div>
          </div>

        </div>


        <h2>Gestion des annonces</h2>

        <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-3-heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-case-1" aria-expanded="true" aria-controls="accordion-3-case-1">
                  Comment modifier le prix de mon annonce ?
                </a>
              </div>
            </div>
            <div id="accordion-3-case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-3-heading-1">
              <div class="panel-body">
                <p>Vous pouvez modifier le prix de votre annonce en vous rendant sur la page “Mes annonces”
                  (disponible dans votre compte utilisateur, une fois connecté).</p>
                <p>Ainsi, vous pourrez modifier le prix de votre produit en vente sur le site en renseignant un nouveau prix.
                  De plus, votre produit sera plus visible sur le site. Il sera en effet, visible dans les pages promotions du
                  moment ou bien les univers créés spécifiquement en fonction du produit.</p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-3-heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-case-2" aria-expanded="true" aria-controls="accordion-3-case-2">
                  Pourquoi mon annonce n’est pas en ligne ?
                </a>
              </div>
            </div>
            <div id="accordion-3-case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-3-heading-2">
              <div class="panel-body">
                <p>Si vous venez de déposer votre annonce, elle doit dans un premier temps être validée par l’équipe de Unik Place.
                  <br/>
                  De plus, nos services doivent modifier votre annonce pour rendre votre produit le plus attractif possible
                  (retouche photo, vérification de l’orthographe, etc…)</p>
              </div>
            </div>

          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-3-heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-3" href="#accordion-3-case-3" aria-expanded="true" aria-controls="accordion-3-case-3">
                  Comment supprimer mon annonce ?
                </a>
              </div>
            </div>
            <div id="accordion-3-case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-3-heading-3">
              <div class="panel-body">
                <p>Vous pouvez supprimer votre annonce, quand vous le souhaitez, en vous rendant sur votre page “Mes annonces”
                  (dans l’espace “Mon compte”).<br/> Vous pouvez supprimer des annonces que vous ne souhaitez plus mettre en ligne
                  ou de biens vendus.</p>
              </div>
            </div>

          </div>

        </div>

        <h2>Acheteurs</h2>

        <div class="panel-group" id="accordion-4" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-1" aria-expanded="true" aria-controls="accordion-4-case-1">
                  Comment acheter un produit directement sur Unik Place ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-1">
              <div class="panel-body">
                <p>Afin d’effectuer un achat en ligne, il est possible pour un utilisateur de procéder au paiement sécurisé.<br/>
                  Ainsi, l’acheteur à la possibilité de faire une offre afin de négocier le prix d’un produit à partir du site ou
                  d’acheter le produit au prix indiqué sur la fiche produit.</p>
                <p>En cas de négociation sur le prix, l’offre doit être acceptée par le vendeur, l’acheteur doit alors passer au
                  paiement directement à partir du site. Pour cela, l’acheteur doit indiquer ses coordonnées bancaires. Et là
                  encore, le paiement se fait de manière entièrement sécurisée.</p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-2" aria-expanded="true" aria-controls="accordion-4-case-2">
                  Quels sont les modes de livraison possibles ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-2">
              <div class="panel-body">

                <p>Une fois l’achat effectué pour un produit d’occasion, l’utilisateur doit choisir le mode de livraison.</p>
                <p>Un acheteur a généralement le choix entre une remise en main propre et/ou une livraison. Toutefois, le vendeur
                  peut exiger certains modes de livraison : uniquement par remise en main propre et/ou bien uniquement une vente
                  par livraison du produit.</p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-3" aria-expanded="true" aria-controls="accordion-4-case-3">
                  Le paiement est-il sécurisé pour une livraison en remise en main propre ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-3">
              <div class="panel-body">

                <p>Oui. Le paiement reste sécurisé pour une remise en main propre.<br/>
                  Lorsque l’acheteur effectue un achat en ligne avec une remise en main propre, un code lui est remis.<br/>
                  Il ne reste qu’une chose, convenir d’un point de rendez-vous. Une fois l’état des lieux du produit fait,
                  l’acheteur doit donner le code de paiement au vendeur pour qu’il puisse toucher son argent.</p>
                <p>Ainsi, un acheteur n’est plus obligé de se déplacer avec du liquide ou un chèque et le vendeur est certain
                  d’être payé.</p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-4">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-4" aria-expanded="true" aria-controls="accordion-4-case-4">
                  Qui doit payer les frais de transport ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-4">
              <div class="panel-body">

                <p>C’est l’acheteur qui doit payer les frais de transport en cas d’achat par livraison.<br/>
                  En revanche, si l’acheteur choisit de retirer le produit au domicile du vendeur, les frais de port sont gratuits
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-5">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-5" aria-expanded="true" aria-controls="accordion-4-case-5">
                  Comment suivre mes achats ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-5">
              <div class="panel-body">

                <p>En tant qu’acheteur, vous avez la possibilité de suivre vos achats en cours à partir de votre espace utilisateur.
                  <br/>
                  Afin de voir l’avancement d’une commande, connectez-vous sur votre compte utilisateur, puis dirigez-vous sur
                  l’onglet « Mes transactions ». <br/>
                  À partir de cette interface, vous pourrez consulter vos achats en cours ainsi que votre historique d’achat sur
                  le site.</p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-6">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-6" aria-expanded="true" aria-controls="accordion-4-case-6">
                  Pourquoi ma commande est en attente de confirmation ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-6">
              <div class="panel-body">

                <p>Si votre commande est en attente de confirmation, cela signifie que le vendeur n’a pas encore validé votre
                  achat.<br/>
                  Le vendeur a un délai de 72 heures pour la valider. <br/>
                  Dans le cas contraire, si le vendeur annule ou bien s’il dépasse ce délai, votre argent vous sera intégralement
                  remboursé.</p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-7">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-7" aria-expanded="true" aria-controls="accordion-4-case-7">
                  Je n'ai pas reçu ma commande, que faire ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-7">
              <div class="panel-body">

                <p>Pas de panique, le vendeur n’a pas touché son argent tant que la réception n’est pas confirmée par vos soins.
                  <br/>Nous vous conseillons de vous rapprocher du vendeur afin qu’il vous communique le numéro de suivi à 13
                  chiffres.<br/>Si vous rencontrez un problème de livraison, rapprochez-vous du service de livraison.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-8">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-8" aria-expanded="true" aria-controls="accordion-4-case-8">
                  Comment me faire rembourser un achat de produit non conforme ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-8">
              <div class="panel-body">

                <p>
                  Vous avez reçu votre bien, mais le produit n’est pas conforme.<br/>
                  Ainsi, dirigez-vous sur votre compte Unik Place puis dans l’onglet “Mes achats”.<br/>
                  Sélectionnez l’achat votre achat qui du produit non-conforme à la livraison.Vous aurez par la suite la
                  possibilité d’ouvrir un litige. <br/>
                  Dans un premier temps, vous serez invités à échanger avec le vendeur. Par la suite, Unik Place se réserve le
                  droit d’intervenir pour régler le litige. En cas de litige résolu en votre faveur, votre argent vous sera
                  remboursé une fois que le colis aura été retourné au vendeur par vos propres moyens.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-9">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-9" aria-expanded="true" aria-controls="accordion-4-case-9">
                  Ma commande est annulée, que se passe-t-il ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-9">
              <div class="panel-body">

                <p>Pas de panique. Le vendeur du produit que vous avez acheté a annulé votre commande. Vous serez intégralement
                  remboursé de votre achat. <br/>
                  Sur Unik Place, tant que vous ne déclarez pas avoir reçu le colis avec votre article commandé, le vendeur ne
                  touche pas votre argent.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-4-heading-10">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-4" href="#accordion-4-case-10" aria-expanded="true" aria-controls="accordion-4-case-10">
                  Comment noter un vendeur ?
                </a>
              </div>
            </div>
            <div id="accordion-4-case-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-4-heading-10">
              <div class="panel-body">

                <p>
                  Une fois une transaction effectuée, c’est-à-dire une fois que la confirmation de la conformité de la
                  commande est validée, vous aurez la possibilité d’évaluer le vendeur. En retour, le vendeur pourra vous noter
                  lui aussi. <br/>
                  Vos évaluations permettront de rassurer les futurs vendeurs lors de vos prochains achats sur le site.
                </p>


              </div>
            </div>

          </div>

        </div>

        <h2>Vendeurs</h2>


        <div class="panel-group" id="accordion-5" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-1" aria-expanded="true" aria-controls="accordion-5-case-1">
                  Comment envoyer un article ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-1">
              <div class="panel-body">
                <p>Vous avez reçu et validé une commande. Félicitations. Vous pouvez dès maintenant vous rendre à un bureau de
                  poste.<br/>
                  Les frais de livraison ont déjà été payés par l’acheteur et vous seront versés à la confirmation de la réception
                  du colis. Vous devez donc “avancer” les frais de livraison. C’est pourquoi il est important de bien renseigner
                  le bon format du colis et les bons modes de livraison.</p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-2" aria-expanded="true" aria-controls="accordion-5-case-2">
                  Quels sont les modes de livraison possibles ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-2">
              <div class="panel-body">
                <p>Un acheteur a généralement le choix entre une remise en main propre et/ou une livraison. Toutefois, le vendeur
                  peut exiger certains modes de livraison : uniquement par remise en main propre et/ou bien uniquement une vente
                  par livraison du produit.</p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-3" aria-expanded="true" aria-controls="accordion-5-case-3">
                  Quel type de colis puis-je utiliser pour envoyer ma commande ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-3">
              <div class="panel-body">
                <p>
                  Vous pouvez utiliser le service Colissimo de la Poste pour tout produit selon certaines conditions.<br/>
                  Votre produit en vente ne devra pas dépasser un poids de 30 kg et une taille de colis
                  (la somme de la longueur, la largeur et la hauteur ne doivent pas dépasser 150 cm)<br/>
                  Le coût de transport via le service Colissimo de la Poste est calculé automatiquement sur notre plateforme
                  pour les produits qui respectent ces conditions. <br/>
                  Autrement, un produit peut aussi être expédié par le transporteur du vendeur. Dans ce cas, le vendeur devra
                  indiquer son coût de transport à partir du dépôt de l’annonce.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-4">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-4" aria-expanded="true" aria-controls="accordion-5-case-4">
                  Que se passe-t-il si vous avez sélectionné un mauvais format de colis ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-4">
              <div class="panel-body">
                <p>
                  L’acheteur a payé les frais de livraison lors de sa commande. Si les frais de port sont plus élevés,
                  vous paierez la différence entre les frais payés par l’acheteur et les frais de la Poste. <br/>
                  Sinon, vous pouvez toujours proposer vos propres frais de livraison directement à partir du dépôt de l’annonce.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-5">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-5" aria-expanded="true" aria-controls="accordion-5-case-5">
                  Comment se faire payer avec une remise en main propre si l’acheteur a oublié de communiquer le code de
                  paiement ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-5">
              <div class="panel-body">
                <p>Après avoir vendu un produit sur le site via la remise en main propre. L’acheteur devra vous communiquer un
                  code de paiement pour pouvoir vous payer le produit. Il ne vous restera plus qu’à rentrer ce code à partir de
                  votre compte Unik Place et demander le versement.<br/>
                  Si l’acheteur a oublié de le transmettre, pas de panique, vous serez tout de même payé.
                  Vous aurez néanmoins votre argent disponible sous 30 jours.<br/>
                  Vous aurez toujours la possibilité de réclamer le code de paiement à l’acheteur via la messagerie disponible sur
                  le compte utilisateur.
                </p>

              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-6">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-6" aria-expanded="true" aria-controls="accordion-5-case-6">
                  Qui doit payer les frais de transport ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-6">
              <div class="panel-body">
                <p>
                  C’est l’acheteur qui doit payer les frais de transport en cas d’achat par livraison. <br/>
                  En revanche, si l’acheteur choisit de retirer le produit au domicile du vendeur, les frais de port sont gratuits.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-7">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-7" aria-expanded="true" aria-controls="accordion-5-case-7">
                  Comment retirer mon argent après avoir vendu un produit sur Unik Place ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-7">
              <div class="panel-body">
                <p>Vous ne savez pas comment avoir le paiement de vos produits vendus, c’est très simple.<br/>
                  Connectez-vous sur votre compte utilisateur, ensuite, dirigez-vous sur l’onglet « Mon argent ».
                  Vous aurez ainsi accès à votre argent disponible suite à vos ventes. <br/>
                  Vous devez renseigner votre IBAN / RIB (Relevé d'Identité Bancaire) puis vous pourrez demander le retrait de
                  votre argent directement sur votre compte bancaire d’un simple clic.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-8">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-8" aria-expanded="true" aria-controls="accordion-5-case-8">
                  Quel est le montant de la commission prise par Unik Place ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-8">
              <div class="panel-body">
                <p>Pour une vente classique, Unik Place prend une commission de :</p>
                <ul>
                  <li>15% si montant du produit en vente &lt;500€</li>
                  <li>12% entre 500€ et 1000€</li>
                  <li>10% entre 1000€ et 2000€</li>
                  <li>8% si supérieur à 2000€</li>
                </ul>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-9">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-9" aria-expanded="true" aria-controls="accordion-5-case-9">
                  Comment suivre mes ventes ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-9">
              <div class="panel-body">
                <p>
                  En tant que vendeur, vous avez la possibilité de suivre vos ventes en cours à partir de votre espace utilisateur.
                  <br/>
                  Afin de voir l’avancement de vos ventes, connectez-vous sur votre compte utilisateur, puis dirigez-vous sur
                  l’onglet « Mes transactions ». À partir de cette interface, vous pourrez consulter vos ventes en cours ainsi
                  que votre historique de ventes sur le site.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-10">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-10" aria-expanded="true" aria-controls="accordion-5-case-10">
                  Est-il possible d’annuler une commande ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-10">
              <div class="panel-body">
                <p>
                  À tous moment, un vendeur à la possibilité d’annuler la vente. <br/>
                  Néanmoins, si un acheteur reçoit un produit qui n’est pas conforme à l’annonce.
                  Il peut ouvrir un litige auprès du vendeur. L’argent restera bloqué par notre plateforme tant que le litige
                  ne sera pas résolu entre les deux parties.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-5-heading-11">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-5" href="#accordion-5-case-11" aria-expanded="true" aria-controls="accordion-5-case-11">
                  Comment noter un acheteur ?
                </a>
              </div>
            </div>
            <div id="accordion-5-case-11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-5-heading-11">
              <div class="panel-body">
                <p>
                  Une fois une transaction effectuée, c’est-à-dire une fois que l’acheteur aura confirmé la conformité de la
                  commande, vous aurez la possibilité de l’évaluer. En retour, vous serez noté vous aussi par l’acheteur. <br/>
                  Vos évaluations permettront de rassurer les potentiels acheteurs sur le site sur votre fiabilité.
                </p>
              </div>
            </div>

          </div>

        </div>


        <h2>Sécurité</h2>

        <div class="panel-group" id="accordion-6" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-6-heading-1">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-6" href="#accordion-6-case-1" aria-expanded="true" aria-controls="accordion-6-case-1">
                  Les produits en vente sur Unik Place sont-ils vérifiés avant diffusion ?
                </a>
              </div>
            </div>
            <div id="accordion-6-case-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-6-heading-1">
              <div class="panel-body">
                <p>
                  Afin de protéger au mieux les utilisateurs du site, chaque annonce est systématiquement contrôlée et
                  retravaillée par l’équipe Unik Place. <br/>
                  Nous n’informatisons pas les publications sur Unik Place, nous analysons manuellement chacune des annonces
                  postées par nos utilisateurs. <br>
                  C’est pourquoi l’étape de modération nécessite un certain temps.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-6-heading-2">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-6" href="#accordion-6-case-2" aria-expanded="true" aria-controls="accordion-6-case-2">
                  Pourquoi mon annonce a-t-elle été refusée ?
                </a>
              </div>
            </div>
            <div id="accordion-6-case-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-6-heading-2">
              <div class="panel-body">
                <p>
                  Si votre annonce a été refusée, c’est qu’elle ne respecte pas nos Conditions Générales de Ventes. <br/>
                  En cas de refus de votre annonce, vous recevrez un mail vous indiquant les raisons du refus de votre annonce
                  par l’équipe de Unik Place. <br/>
                  Votre annonce peut être refusée si son contenu est inapproprié, mais également si le prix indiqué
                  ne correspond pas à la valeur du produit d’occasion ou si l’annonce a déjà été postée plusieurs fois sur le
                  site par le même utilisateur.
                </p>
              </div>
            </div>

          </div>


          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-6-heading-3">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-6" href="#accordion-6-case-3" aria-expanded="true" aria-controls="accordion-6-case-3">
                  Pourquoi mon compte a-t-il été mis en quarantaine ?
                </a>
              </div>
            </div>
            <div id="accordion-6-case-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-6-heading-3">
              <div class="panel-body">
                <p>
                  Afin de protéger nos utilisateurs, un profil ayant un comportement suspect peut être mis en quarantaine par
                  notre système de sécurité. <br/>
                  En cas de mise en quarantaine, le profil concerné recevra un mail lui indiquant la détection d’un comportement
                  suspect.<br/>
                  Dans ce cas, la personne ne pourra plus consulter le site, mettre en vente des produits, acheter sur le
                  site ou contacter un vendeur, tant que son profil sera mis en quarantaine. <br/>
                  Notre équipe se charge d’analyser par la suite manuellement les profils mis en quarantaine pour déterminer
                  si l’utilisateur est “à risque” ou non. Si le profil est considéré comme “sain”, la quarantaine sera levée
                  rapidement, la personne recevra un mail lui indiquant qu’il lui est de nouveau possible d’accéder à Unik Place.
                </p>
              </div>
            </div>

          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accordion-6-heading-4">
              <div class="panel-title h4">
                <a role="button" data-toggle="collapse" data-parent="#accordion-6" href="#accordion-6-case-4" aria-expanded="true" aria-controls="accordion-6-case-4">
                  Comment le paiement est-il sécurisé sur Unik Place ?
                </a>
              </div>
            </div>
            <div id="accordion-6-case-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordion-6-heading-4">
              <div class="panel-body">
                <p>
                  Un utilisateur peut acheter un produit d’un simple clic sans se préoccuper des potentielles arnaques.
                  Unik Place a mis en place un système de vente sécurisé qui bloque l’argent de l’acheteur tant que le colis
                  n’est pas réceptionné. <br/>
                  Le virement vers le compte du vendeur se fera uniquement après confirmation de la réception de l’achat
                  du produit d’occasion. <br/>
                  L’acheteur doit donc vérifier le colis ainsi que sa conformité avant de valider la livraison à partir de son
                  compte utilisateur.
                </p>
              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="col-md-3">

        <div class="need-help">

          <h2 class="h4">Besoin d'aide ?</h2>

          <p>Vous avez besoin d'aide, vous pouvez contacter notre équipe de support.</p>

          <p>
            <a class="btn btn-primary" title="Contacter le support" href="{{ path('contact') }}">Nous contacter</a>
          </p>

        </div>


        <div class="items-info">
          <span class="item-info-li"><i class="fa fa-envelope-o"></i><a href="mailto:{{ website.contact.email }}" class="email">{{ website.contact.email }}</a> </span>
          <span class="item-info-li"><i class="fa fa-phone"></i><a href="tel:{{ website.contact.phone|replace({' ' : ''}) }}" class="phone">{{ website.contact.phone }}</a> </span>
        </div>


        <img class="img-faq-premium" src="{{ optipng('bundles/app/images/faq.png', { 'output' : 'images/faq.png'}) }}" alt="{{ siteName }} Premium"/>



      </div>

    </div>

  </div>
{% endblock %}

