{% extends 'AppBundle::base.html.twig' %}

{% block javascript_include %}{{ jsinit(['homepage']) }}{% endblock javascript_include %}

{% block bodyclass %}class="cms-index-index slidebar-left cms-home"{% endblock %}

{% block wholebody %}
  <section class="main-container col1-layout">
    <div class="main-wrapper">
      <div class="main">
        <div class="container">
        <div class="site-preface">
          <div class="hidden-xs hidden-sm" id="block-slide-home">
            <div class="slide-home owl-carousel owl-theme">
              <div class="slide-content">

                <div class="row">

                  <div class="col-md-6 slider-text">
                    <h3>Un meuble design <br />vous encombre ?</h3>
                    <span class="text">
                      <span class="text-inner">Unik Place vous met à disposition sa plateforme 100 % sécurisée pour
                        <br />vous permettre de le vendre rapidement, sans sortir de chez vous.<br />
                        Recevez des propositions de prix ou des achats, vous n'aurez pas à<br />
                        vous soucier de la transaction, Unik Place s'en charge.</span>
                    </span>
                    <span class="button"><a href="{{ path('sell_category') }}">Je souhaite vendre</a> </span>
                  </div>

                  <div class="col-md-6">
                    <img src="{{ jpegoptim('bundles/app/images/homepage/slide/slide1.jpg', { 'output' : 'images/slide_1.jpg'}) }}" class="img-responsive" />
                  </div>

                </div>


              </div>
              <div class="slide-content">

                <div class="row">

                  <div class="col-md-6 slider-text">
                    <h3>Des sélections de produits<br />à portée de clic</h3>
                    <span class="text">
                      <span class="text-inner">Créer une ambiance, un univers déco chez soi, c'est parfois compliqué.
                        <br />Avec Unik Place, des sélections de produits déco sont créés chaque jour<br />
                        pour vous aider dans vos changements de design. Faites confiance à Unik Place,<br />
                        et créez des atmosphères chaleureuses avec du mobilier de qualité à moindre coût.</span>
                    </span>
                    <!--<span class="button">
                      <a href="{{ path('collections') }}">Découvrez les tendances déco du moment</a>
                    </span>-->
                  </div>


                  <div class="col-md-6">
                    <img src="{{ jpegoptim('bundles/app/images/homepage/slide/slide2.jpg', { 'output' : 'images/slide_2.jpg'}) }}" class="img-responsive" />
                  </div>


                </div>
              </div>
              {#<div class="slide-content"><a class="slide_link" href="#"><img class="img-responsive" alt="" src="{{ asset('bundles/app/images/homepage/slide/slide3.jpg') }}"/></a>
                <div class="slide-inner-content">
                  <div class="container">
                    <h3>Good shoes<br/>take you good places</h3>
                    <span class="text"><span class="text-inner">Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt<br/>risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus<br/>meleifend menean viverra auctor blanditos comodous.</span></span>
                    <span class="button"><a href="#">Shop Collection</a> </span></div>
                </div>
              </div>#}
            </div>
          </div>
          <div class="visible-xs visible-sm text-center block-mobile-sell">

            <h3>Un meuble design <br />
              vous encombre ?</h3>

            <a class="btn" href="{{ path('sell_category') }}">Je souhaite vendre</a>

          </div>
        </div>
        </div>

        {% if collections is not null and collections is not empty %}
          <div class="container">
            <div class="row show-grid">
              <div class="block-container">
                <div class="col-xs-12">
                  <h3 class="category-product title-widget"><span>Tendances</span></h3>
                  <div class="row">
                    {% for collection in collections %}
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="banner_top">
                          <div class="overlay">
                                <span class="button">
                                  <a href="{{ path('collection', {'slug' : collection.slug}) }}">
                                    {{ collection.name }}
                                  </a>
                                </span>
                          </div>
                          {% if collection.image is not null %}
                            <img class="img-responsive" alt="{{ collection.name }}"
                                 src="{{ loadpic(collection.image, 370, 270, "r3", "collections") }}"/>
                          {% else %}
                            <img class="img-responsive" alt="{{ collection.name }}" src="#"/>
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </div><!-- .row -->
                </div><!-- .col -->
              </div>
            </div>
          </div>
        {% endif %}

        <div class="container hidden-xs ">

          <div class="block-container">
            <h1 class="category-product title-widget"><span>Unik Place, l'univers de l'ameublement design</span></h1>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {% if categories[0] is defined %}
                  <div class="banner_top">
                    <div class="overlay">
                            <span class="button">
                              <a href="{{ path('category', {'path' : categories[0].slug}) }}">
                                {{ categories[0].name }}
                              </a>
                            </span>
                    </div>
                    {% if categories[0].image %}
                    <img class="img-responsive" alt="{{ categories[0].name }}"
                         src="{{ loadpic(categories[0].image, 500, 500, "f", "categories") }}"/>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {% if categories[1] is defined %}
                  <div class="banner_top">
                    <div class="overlay">
                            <span class="button">
                              <a href="{{ path('category', {'path' : categories[1].slug}) }}">
                                {{ categories[1].name }}
                              </a>
                            </span>
                    </div>
                    {% if categories[1].image %}
                    <img class="img-responsive" alt="{{ categories[1].name }}"
                         src="{{ loadpic(categories[1].image, 500, 235, "f", "categories") }}"/>
                    {% endif %}
                  </div>
                {% endif %}
                {% if categories[2] is defined %}
                  <div class="banner_top">
                    <div class="overlay">
                            <span class="button">
                              <a href="{{ path('category', {'path' : categories[2].slug}) }}">
                                {{ categories[2].name }}
                              </a>
                            </span>
                    </div>
                    {% if categories[2].image %}
                    <img class="img-responsive" alt="{{ categories[2].name }}"
                         src="{{ loadpic(categories[2].image, 500, 235, "f", "categories") }}"/>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                {% if categories[3] is defined %}
                  <div class="banner_top">
                    <div class="overlay">
                            <span class="button">
                              <a href="{{ path('category', {'path' : categories[3].slug}) }}">
                                {{ categories[3].name }}
                              </a>
                            </span>
                    </div>
                    {% if categories[3].image %}
                    <img class="img-responsive" alt="{{ categories[3].name }}"
                         src="{{ loadpic(categories[3].image, 500, 500, "f", "categories") }}"/>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div><!-- .row -->
          </div>

            <div class="row">
                <div class="block-container">
                    <div class="col-sm-12">
                        <h3 class="category-product title-widget"><span>Nos valeurs</span></h3>
                    </div>
                    <div class="col-sm-3 col-advantage">
                        <div class="text-center">
                            <img src="{{ optipng('bundles/app/images/about/quality.png', { 'output' : 'images/about_quality.png'}) }}" class="img-circle" alt="qualité">
                            <h5 class="one-value-title">Qualité du contenu</h5>
                        </div>
                        <div class="text">
                            Description des produits et retouche des photos pour une meilleure mise en avant des produits tout en bénéficiant d'un dépôt d'annonce très détaillée.
                        </div>
                    </div>
                    <div class="col-sm-3 col-advantage">
                        <div class="text-center">
                            <img src="{{ optipng('bundles/app/images/about/sell_key.png', { 'output' : 'images/about_sell.png'}) }}" class="img-circle" alt="certifié">
                            <h5 class="one-value-title">Vente clef en main</h5>
                        </div>
                        <div class="text">
                            Vous pouvez confier à Unik Place un produit à vendre. Vous n'aurez plus à vous soucier de votre
                            annonce, de la livraison et de la transaction.
                        </div>
                    </div>
                    <div class="col-sm-3 col-advantage">
                        <div class="text-center">
                            <img src="{{ optipng('bundles/app/images/about/security.png', { 'output' : 'images/about_security.png'}) }}" class="img-circle" alt="sécurité">
                            <h5 class="one-value-title">100% sécurisé</h5>
                        </div>
                        <div class="text">
                            Achetez ou vendez des produits d'occasion en toute sécurité !
                            Vous êtes assuré de recevoir l'argent des ventes ou de recevoir votre achat.
                        </div>
                    </div>
                    <div class="col-sm-3 col-advantage">
                        <div class="text-center">
                            <img src="{{ optipng('bundles/app/images/about/confidential.png', { 'output' : 'images/about_confidential.png'}) }}" class="img-circle"
                                 alt="confidentialité">
                            <h5 class="one-value-title">Confidentialité</h5>
                        </div>
                        <div class="text">
                            Par sécurité, les données des utilisateurs sont confidentielles. L'évaluation des
                            profils favorise une démarche d'achat ou de vente.
                        </div>
                    </div>
                </div>
            </div><!-- .row -->

          <div class="row">
            <div class="block-container">
              <div class="col-sm-12">
                <h3 class="category-product title-widget"><span>#DESIGNLOVERS - le journal du design</span></h3>
              </div>

              {% for article in articles %}

                <div class="col-sm-4">
                  <div class="box-blog-article">
                    <a href="{{ path('blog_article', {slug: article.slug }) }}" title="Lire l'article">
                      <img class="img-responsive" src="{{ loadpic(article.image, 400, 275, 'r', 'articles') }}" alt="">
                    </a>
                    <h2 class="blog-article-title"><a href="{{ path('blog_article', {slug: article.slug }) }}">{{ article.title }}</a></h2>
                    <ul class="blog-article-infos">
                      <li>{{ article.author.firstname }} {{ article.author.lastname }}</li>
                      <li>{{ article.createdAt|date('d/m/Y H:i') }}</li>
                    </ul>
                    <p>
                      {{ article.description|raw }}
                    </p>
                  </div>
                </div>


              {% endfor %}

              </div><!-- .row -->
          </div>
        </div><!-- .container -->

        <div class="container container-category-product category-products">
          <div class="row">
            <div class="block-container">
              {% for category in categories %}
                {% if productsByCategory[category.slug] is defined and productsByCategory[category.slug]|length > 0 %}
                  <div class="col-sm-12">
                    <h3 class="category-product title-widget"><span>{{ category.name }}</span></h3>
                    <div class="category-products-container clearfix">
                      {% include 'ProductBundle:Search:product_grid.html.twig' with { 'products': productsByCategory[category.slug] } only %}
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
