{% extends 'AppBundle::base.html.twig' %}

{% block title %}Univers vintage et d'exception{% endblock %}
{% block description %}Univers vintage et d'exception à votre portée{% endblock %}

{% block javascript_include %}{{ jsinit(['homepage']) }}{% endblock javascript_include %}

{% block bodyclass %}class="cms-index-index slidebar-left cms-home"{% endblock %}

{% block wholebody %}

<section class="main-container col1-layout">
  <div class="main-wrapper">
    <div class="main">


      <div class="site-preface"><div class="" id="block-slide-home">
          <div class="slide-home owl-carousel">
            <div class="slide-content"><a class="slide_link" href="#"><img class="img-responsive" alt="" src="{{ asset('bundles/app/images/homepage/slide/slide1.jpg') }}" /></a>
              <div class="slide-inner-content">
                <div class="container">
                  <h3>L'originalité <br />aux bouts des pieds</h3>
                  <span class="text"><span class="text-inner">La Heathrow est maintenant disponible dans de toutes nouvelles couleurs.<br />Avec sa ligne décontractée et athlétique, ce modèle confortable et stylé<br />est proposé dans différents imprimés tendance avec des matières haut de gamme.<br />Taillé pour la performance, pensé pour le quotidien.</span></span> <span class="button"><a href="#">La Collection Chaussures</a> </span></div>
              </div>
            </div>                    <div class="slide-content"><a class="slide_link" href="#"><img class="img-responsive" alt="" src="{{ asset('bundles/app/images/homepage/slide/slide2.jpg') }}" /></a>
              <div class="slide-inner-content">
                <div class="container">
                  <h3>Put Your Best Foot <br />Forward in Athletic Shoes</h3>
                  <span class="text"><span class="text-inner">Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt<br />risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus<br />meleifend menean viverra auctor blanditos comodous.</span></span> <span class="button"><a href="#">Shop Collection</a> </span></div>
              </div>
            </div>                    <div class="slide-content"><a class="slide_link" href="#"><img class="img-responsive" alt="" src="{{ asset('bundles/app/images/homepage/slide/slide3.jpg') }}" /></a>
              <div class="slide-inner-content">
                <div class="container">
                  <h3>Good shoes<br />take you good places</h3>
                  <span class="text"><span class="text-inner">Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt<br />risus ac, consequat velit. Quisquemos sodales suscipit tortor ditaemcos condimentum lacus<br />meleifend menean viverra auctor blanditos comodous.</span></span> <span class="button"><a href="#">Shop Collection</a> </span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container container-home-box">
        <div class="row">
          <div class="col-sm-4 home-value home-value-sell">
            <h3 class="home-value-title">Vendez</h3>
            <div>
              Revendez vos produits d'occasion en toute sécurité !<br>
              Vous êtes asuré de recevoir l'argent de vos ventes.
            </div>
          </div>
          <div class="col-sm-4 home-value home-value-purchase">
            <h3 class="home-value-title">Achetez</h3>
            <div>
              Achetez des produits d'occasion sans vous soucier !<br>
              Le vendeur recevra votre argent qu'après réception de votre achat.
            </div>
          </div>
          <div class="col-sm-4 home-value home-value-security">
            <h3 class="home-value-title">Confidentialité et sécurité</h3>
            <div>
              Pour votre sécurité, vos données restent confidentielles.<br>
              L'évaluation des internautes vous aide<br>
              dans votre démarche d'achat et de vente.
            </div>
          </div>
        </div>
      </div>


      <div class="container container-category-product category-products">

        {% for category in categories %}

        {% if productsByCategory[category.slug] is defined and productsByCategory[category.slug]|length > 0  %}
            <h3 class="category-product">{{ category.name }}</h3>
            <div class="category-products-container clearfix">
              {% include 'ProductBundle:Search:product_grid.html.twig' with { 'products': productsByCategory[category.slug] } only %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="container">
        <div class="row show-grid">
        </div>
      </div>
      <div class="container">
        <div class="row show-grid">
          <div class="col-main">
            <div class="std">&nbsp;</div>
            <div class="block-container ">
              <div>
                <div>

                  <div class="col-xs-12">
                    <div class="row">
                      {% for collection in collections if collections is not null %}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div class="banner_top">
                            <div class="overlay">
                                <span class="button">
                                  <a href="{{ path('collection', {'slug' : collection.slug}) }}">{{ collection.name }}</a>
                                </span>
                            </div>
                            <img class="img-responsive" alt="{{ collection.name }}"
                                 src="{{ loadpic(collection.image, 370, 270, "r", "collections") }}"/>
                            <div class="content">
                              <div class="content-inner">
                                <h3>{{ collection.description }}</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div><!-- .row -->
                  </div><!-- .col -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    {% endblock %}
