{% if collections|length > 0 %}
  <li class="level0 level-top parent">
      <span class="m_title_group_head">Les dernières inspirations</span>
  </li>
  <ul class="level1">
    {% for collection in collections %}
      <li class="level2">
        <a href="{{ path("collection", {'slug': collection.slug}) }}">{{ collection.name }}</a>
      </li>
    {% endfor %}

  </ul>
{% endif %}

{% for idx, category in categories %}
  <li class="level0 nav-{{ idx }} level-top parent">
    <a href="{{ path('category', {path: category.getPath()}) }}" class="level-top">
      <span>{{ category.GetName }}</span>
    </a>
    {% if category.getChildren()|length > 0 %}
      <ul class="level0">
        {% for childCategory in category.getChildren() %}
          <li class="level1 item">
            <a href="{{ path('category', {path: childCategory.getPath()}) }}">
              <span>{{ childCategory.getName }}</span>
            </a>
            {% if childCategory.getChildren()|length > 0 %}
              <ul class="level1">
                {% for subChildCategory in childCategory.getChildren() %}
                <li class="level2">
                  <a href="{{ path('category', {path: subChildCategory.getPath()}) }}">
                    <span>{{ subChildCategory.getName }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}