{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div class="container faq">
      <div class="main">


        <div class="row">

          <div class="col-md-9">


            <h1>Comment nous simplifions l’achat / vente du mobilier et des objets de décoration design haut de gamme</h1>

            <h2>Mise en avant des produits « Mobilier et objets de décoration » design haut de gamme</h2>
            <p>
              Unik Place est la rencontre d’une communauté de vendeurs et d’acheteurs amoureux du design, nostalgiques des années rétro et avides de nouveautés pour leur mobilier et décoration d’intérieure et extérieure.<br />
              Un lieu « Unik ». C’est pour cela que Unik Place est une place de marché sur laquelle vous retrouverez des produits « Mobilier et Objets de décoration » design haut de gamme, d’occasion ou tout simplement uniques.<br />
              La sélection réalisée par nos experts en « mobilier design » permet à Unik Place de proposer des produits recherchés à des prix avantageux.
            </p>

            <p>
              Le dépôt d’une annonce d’un mobilier ou d’un objet de décoration design est très détaillé afin que le produit soit définitivement l’élément central.<br />
              Ainsi, le vendeur devra fournir des photos de qualité permettant à l’acheteur qui recherche un meuble design et de qualité de visualiser rapidement le produit.<br />
              Le descriptif du produit permet à l’acheteur de s’approprier son histoire. Sur Unik Place, les produits ont des histoires à raconter… La mise en vente d’un produit est également accompagnée d’un descriptif détaillé afin de renseigner les différentes caractéristiques de celui-ci : couleur, matériau, dimensions, style, marque, designer.<br />
              Sur Unik place, nous retouchons la photo principale du produit en le détourant pour une meilleure visibilité dans la page de recherche par les acheteurs.
            </p>

            <h2>
              Recherche par localisation de meuble design
            </h2>

            <p>
              Afin de faciliter l’achat de meubles haut de gamme et design, Unik Place affiche la localisation du vendeur, en l’occurence uniquement son département. <br />
              Cela permet à l’acheteur de chiner du mobilier design près de chez lui et d’éviter de se faire livrer un produit potentiellement volumineux.
            </p>

            <h2>
              Vous recherchez un meuble design en particulier ? Conseils, avis et tendances dans le mobilier design et haut de gamme
            </h2>

            <p>
              Unik Place vous fait partager les histoires du mobilier, de la décoration d’intérieur, de l’ameublement de manière générale à travers des reportages.<br />
              Chacun pourra réagir et commenter les conseils, avis, rédactions de Unik Place.
            </p>
          </div>


          <div class="col-md-3">
            <div class="need-help">

              <h4>Besoin d'aide ?</h4>

              <p>Vous avez besoin d'aide, vous pouvez contacter notre équipe de support.</p>

              <p>
                <a class="btn btn-primary" title="Contacter le support" href="{{ path('contact') }}">Nous contacter</a>
              </p>

            </div>


            <div class="items-info">
              <span class="item-info-li"><i class="fa fa-envelope-o"></i><a href="mailto:{{ website.contact.email }}" class="email">{{ website.contact.email }}</a> </span>
              <span class="item-info-li"><i class="fa fa-phone"></i><a href="tel:{{ website.contact.phone|replace({' ' : ''}) }}" class="phone">{{ website.contact.phone }}</a> </span>
            </div>


            <img class="img-faq-premium" src="{{ optipng('bundles/app/images/faq.png', { 'output' : 'images/faq.png'}) }}" alt="{{ siteName }} Premium"/>
          </div>

        </div>



      </div><!-- .main -->
    </div><!-- .container -->

{% endblock %}