{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% if category is defined %}
  {% set breadcrumb = category.getBreadcrumb() %}
  <div class="main-breadcrumbs">
    <div class="container">
      <div class="row show-grid">
        <div class="col-lg-12">
          <div class="breadcrumbs">
            <ul>
              <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('homepage') }}" itemprop="url">Accueil</a></span>
                <span class="separator">/</span>
              </li>
              {% for element in breadcrumb %}
              <li>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('category', {path: element.getPath()}) }}" itemprop="url"><span itemprop="title">{{ element.name }}</span></a></span>
                <span class="separator">/</span>
              </li>
              {% endfor %}
              <li><strong>{{ category.name }}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="main-wrapper">
  <div class="container">
    <div class="main">
      <div class="row show-grid">
        <div class="col-lg-12">
          <div class="site-preface"></div>
        </div>
      </div>

      <div class="row show-grid">
        <div class="col-lg-12"></div>
      </div>

      <div class="row show-grid">
        <div class="col-lg-3 sidebar">
          <div class="col-left">


            <div class="block block-nav">
              <div class="block-title">
                <strong><span>Catégories</span></strong>
              </div>
              <div class="block-content">
                <ul id="categories_nav" class="nav-accordion nav-categories">
                  {% for category in mainCategories %}
                  <li class="level0 parent" data-toggle="collapse" data-target="#categ-{{ category.getSlug() }}">
                    <a href="#">
                      <span>{{ category.getName() }}</span>
                    </a>
                    {% if category.getChildren()|length > 0 %}
                      <span class="collapse">dérouler</span>

                      <ul class="level0 collapse" id="categ-{{ category.getSlug() }}">
                        {% for childCategory in category.getChildren() %}
                        <li class="level1 parent" data-toggle="collapse" data-target="#categ-{{ childCategory.getSlug() }}" data-parent="#categ-{{ category.getSlug() }}">
                          <a href="#">
                            <span>{{ childCategory.getName() }}</span>
                          </a>
                          {% if childCategory.getChildren()|length > 0 %}
                            <span class="collapse">dérouler</span>

                            <ul class="level1 collapse" id="categ-{{ childCategory.getSlug() }}">
                              {% for subChildCategory in childCategory.getChildren() %}
                                <li class="level2">
                                  <a href="#">
                                      <span>{{ subChildCategory.getName() }}</span>
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>



            <div class="block block-layered-nav">
              <div class="block-title">
                <strong><span>Filtres</span></strong>
                <span class="mobile-button visible-xs active"></span>
              </div>
              <div class="block-content">
                <dl id="narrow-by-list">
                  <dt>Prix</dt>
                  <dd>
                    <ol>
                      <li><a href="#">30,00€ - 39,99€ (8)</a></li>
                      <li><a href="#">40,00€ - 49,99€ (3)</a></li>
                    </ol>
                  </dd>

                  <dt>Marque</dt>
                  <dd>
                    <ol class="configurable-swatch-list">
                      <li>
                        <a href="#" class="swatch-link">
                          <span class="swatch-label">Marque 1</span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="swatch-link">
                          <span class="swatch-label">Marque 2</span>
                        </a>
                      </li>
                    </ol>
                  </dd>

                  <dt>Color</dt>
                  <dd>
                    <ol class="configurable-swatch-list">
                      <li style="line-height: 40px;">
                        <a href="#" class="swatch-link has-image">
                          <span class="swatch-label" style="height:38px; width:38px;">
                            <img src="http://elara.icotheme.com/media/catalog/swatches/1/36x36/media/beige.png" alt="Beige" title="Beige" width="36" height="36"/>
                          </span>
                        </a>
                      </li>
                      <li style="line-height: 40px;">
                        <a href="#" class="swatch-link has-image">
                          <span class="swatch-label" style="height:38px; width:38px;">
                            <img src="http://elara.icotheme.com/media/catalog/swatches/1/36x36/media/brown.png" alt="Marron" title="Marron" width="36" height="36"/>
                          </span>
                        </a>
                      </li>
                    </ol>
                  </dd>
                </dl>

                <!--<script type="text/javascript">decorateDataList('narrow-by-list')</script>-->
              </div>
            </div>


          </div><!-- .col-left -->
        </div><!-- .sidebar -->



        <div class="col-lg-9">
          <div class="col-main">
            {% if category is defined %}
              <h1>{{ category.name }}</h1>
              <p class="category-image">
                <img class="img-responsive" src="http://elara.icotheme.com/media/catalog/category/cat_img.jpg" alt="Vêtements" title="Vêtements" />
              </p>
            {% endif %}

            <div class="category-products">
              <div class="toolbar">
                <div class="row">
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-lg-9">
                        <div class="sorter_wrap">
                          <div class="sort-by">

                            <div class="select-new">
                              <div class="select-inner">
                                <span>Tri par : </span>
                                <div class="overwrite-sortby" role="button" data-toggle="collapse" href="#sort_by" aria-expanded="false">Position</div>
                                <ul id="sort_by" class="sort_by collapse">
                                  <li>
                                    <a href="#">Position</a>
                                  </li>
                                  <li>
                                    <a href="#">Nom</a>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <div class="direction-list">
                              <a class="direction direction-up" href="#" title="Tri ascendant"><i class="fa fa-arrow-down"></i></a>
                            </div>

                          </div>
                        </div>

                        <div class="limiter_wrap">
                          <div class="limiter">
                            <div class="select-new">
                              <div class="select-inner">
                                <div class="overwrite-limiter" data-toggle="collapse" href="#limiter" aria-expanded="false">12 produits/page</div>
                                <ul id="limiter" class="limiter collapse">
                                  <li>
                                    <a href="#" class="">12</a>
                                  </li>
                                  <li>
                                    <a href="#" class="">24</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <div class="col-lg-3">
                        <div class="pager">
                          <div class="pages">
                            <ol>
                              <li class="current">1</li>
                              <li class="last"><a href="#">2</a></li>
                            </ol>
                          </div>
                          <div class="page_next">
                            <a class="next i-next" href="#" title="Next">
                              <div class="fs1" aria-hidden="true" data-icon="$"></div>
                            </a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>


                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="view-mode">
                      <span class="active">
                        <a href="http://elara.icotheme.com/women.html?mode=list" title="List" class="list">
                          <div class="fs1" aria-hidden="true" data-icon="d"></div>
                        </a>
                      </span>
                    </div>
                  </div>

                </div>
              </div>

              {% if products|length > 0 %}
                <ul class="products-grid itemgrid itemgrid-adaptive products-itemgrid-3col show-grid">
                  {% for product in products %}
                    <li class="item first hover-effect">
                      <div class="item-inner">
                        <div class="product-action">
                          <div class="product-new-label">Nouveau</div><div class="product-sale-label">Vendu</div>
                          <a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}" class="product-image">
                            {% set images = product.getImages() %}
                            <img class="img-responsive" src="{% if images[0] is defined %}{{ vich_uploader_asset(images[0], 'imageFile') }}{% endif %}" xx-src="http://elara.icotheme.com/skin/frontend/elara/default/images/AjaxLoader.gif" alt="{{ product.name }}" />
                          </a>
                        </div>
                        <div class="product-content">
                          <h3 class="product-name"><a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}">{{ product.getName }}</a></h3>
                          <div class="display-onhover">
                            <div class="ratings">
                              <div class="rating-box">
                                <div class="rating" style="width:73%"></div>
                              </div>
                            </div>
                          </div>

                          <div class="price-box">
                            <p class="old-price">
                              <span class="price-label">Ancien prix :</span>
                              <span class="price">48,00€</span>
                            </p>

                            <p class="special-price">
                              <span class="price-label">Nouveau prix :</span>
                              <span class="price">{{ product.price|currency_convert_format(product.getCurrency.getCode) }}</span>
                            </p>
                          </div>
                        </div>

                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                {% if app.request.query.get('q') is defined %}
                  <p class="text-center">Aucun produit trouvé pour la recherche <em>{{ app.request.query.get('q') }}</em></p>
                {% else %}
                  <p class="text-center">Il n'y a pas de produit dans cette catégorie pour l'instant.</p>
                {% endif %}
              {% endif %}
            </div><!-- .category-products -->

          </div><!-- .col-main -->
        </div><!-- col -->

      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .main -->
</div><!-- .main-wrapper -->


{% endblock %}

