{% if col is not defined %}
    {% set col = 'products-itemgrid-3col' %}
{% endif %}

{% if products|length > 0 %}
    <ul class="products-grid itemgrid itemgrid-adaptive {{ col }} show-grid {% if carrousel is defined %}owl-carousel owl-loaded owl-theme{% endif %}" {% if id is defined %}id="{{ id }}"{% endif %}>
        {% if carrousel is defined %}
        <div class="slide-container">{% endif %}
  {% for product in products %}
  <li class="item first hover-effect">
    <div class="item-inner">
      <div class="product-action">
        {% if date(product.getCreatedAt()) > date('-2weeks') and product.getStatus().getName() != 'sold' %}
          <div class="product-new-label">Nouveau</div>
        {% endif %}
        {% if product.getStatus() is not empty and product.getStatus().getName() == 'sold' %}
          <div class="product-sale-label">Vendu</div>
        {% endif %}
        <a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}" class="product-image">
          {% set images = product.getImages() %}
            <img class="img-responsive" src="{% if images[0] is defined %}{{ loadpic(images[0], 275, 320, 'r3') }}{% endif %}" alt="{{ product.name }}"/>
            {% if images[1] is defined %}<img class="img-responsive hover-effect" src="{% if images[1] is defined %}{{ loadpic(images[1], 275, 320, 'r3') }}{% endif %}" alt="{{ product.name }}" />{% endif %}
        </a>
      </div>
      <div class="product-content">

          <span class="category-name">{{ product.category.name }}</span>

          <span class="product-name"><a href="{{ path('product_details', {id: product.getId(), slug: product.getSlug()}) }}" title="{{ product.name }}">{{ product.getName }}</a></span>

        <div class="price-box">
          {% if product.originalPrice is not null %}
            <p class="old-price">
              <span class="price">{{ product.originalPrice|currency_convert_format(product.getCurrency.getCode) }}</span>
            </p>
          {% endif %}

          <p class="special-price">
            <span class="price">{{ product.price|currency_convert_format(product.getCurrency.getCode) }}</span>
          </p>
        </div>
      </div>

    </div>
  </li>
  {% endfor %}
            {% if carrousel is defined %}</div>{% endif %}
</ul>

{% if pagination is defined %}
{{ pagination|raw }}
{% endif %}

{% else %}
{% if app.request.query.get('q') is defined %}
<p class="text-center">Aucun produit trouvé pour cette recherche.</p>
{% else %}
<p class="text-center">Il n'y a pas de produit dans cette catégorie pour l'instant.</p>
{% endif %}
{% endif %}
